In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin
import pandas as pd
import csv
from tqdm import tqdm

# 1. Function

In [6]:
def get_url(url):
    headers = {
         'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'
     }
    r = requests.get(url, headers=headers)  # Using the custom headers we defined above
    soup = BeautifulSoup(r.content, 'lxml') 
    return soup

def get_table(url):
    df = pd.read_html(url)[4]    
    df = df.rename(columns={"Nama Anggota" : "nama"})
    df["alamat"] = "No Data"
    df = df[["nama", "alamat"]]

    return df

# 1. Sumbar

### Kabupaten Agam

In [7]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Agam"

In [8]:
df = get_table(url)
df

                             nama   alamat
0                    Nesi Harmita  No Data
1                       Armalicon  No Data
2                      Novi Irwan  No Data
3   Edwar H. Datuak Manjuang Basa  No Data
4                         Zulhefi  No Data
5                   Rinal Wahyudi  No Data
6                         Erdinal  No Data
7       Zulhendrif Bandaro Labiah  No Data
8                    Alhamdi Arif  No Data
9                      Joni Putra  No Data
10                  A. R. Yutinof  No Data
11      Fairisman Datuak Piranggo  No Data
12               Arman J. Piliang  No Data
13                       Zulfahmi  No Data
14                       Mardanis  No Data
15                      Ais Bakri  No Data
16                      Syafrizal  No Data
17                        Asnidar  No Data
18          Rizki Abdillah Fadhal  No Data
19                       Safrudin  No Data
20                       Suharman  No Data
21                       Guswardi  No Data
22                        Asrizal  No Data
23                        Suhermi  No Data
24                H. Gema Saputra  No Data
25                Yopi Eka Anroni  No Data
26              H. Ridwan Suhaili  No Data
27                      Irfawaldi  No Data
28                 Mardisal Athan  No Data
29                        Antonis  No Data
30                       Zulpardi  No Data
31                       Henrizal  No Data
32                        Syaflin  No Data
33                 Salman Linover  No Data
34                    Irfan Amran  No Data
35                     Epi Suardi  No Data
36              Marga Indra Putra  No Data
37                 Jondra Marjaya  No Data
38                        Syafril  No Data
39                          Doddi  No Data
40                         Aderia  No Data
41                  Feri Adrianto  No Data
42                    Syaharuddin  No Data
43                   Noveri Edios  No Data
44                       Bulqaini  No Data

In [9]:
df.to_csv("./DPRD TK II/Sumbar/Agam.csv", index=False)

### Kabupaten Dharmasraya

In [10]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Dharmasraya"
df = get_table(url)
df

                         nama   alamat
0           Bobby Ade Saputra  No Data
1       Rosandi Sanjaya Putra  No Data
2              Aandri Saputra  No Data
3              Alisa Septiani  No Data
4           Rogil Aliyas Chan  No Data
5                  Sutan Alif  No Data
6                   Pariyanto  No Data
7   Dalpewan Datuak Rajo Lelo  No Data
8                  Ari Wibowo  No Data
9                  Syafnirwan  No Data
10              Defrino Anwar  No Data
11                 Sasmi Erli  No Data
12             H. Adi Gunawan  No Data
13                   Purwanto  No Data
14                    Amrizal  No Data
15            Ferryko Effendi  No Data
16  Ampera Datuak Labuan Basa  No Data
17             Cecep Nurzaman  No Data
18                   Saparman  No Data
19                   Iskandar  No Data
20                  Zulhendri  No Data
21                      Irmon  No Data
22                   Suparman  No Data
23               Ade Sudarman  No Data
24                    Yulindo  No Data
25            H. Benny Ridwan  No Data
26             Raden Awaludin  No Data
27                    Ardison  No Data
28                     Salman  No Data
29                   Mawarman  No Data

In [11]:
df.to_csv("./DPRD TK II/Sumbar/Dharmasraya.csv", index=False)

### Kabupaten Kepulauan Mentawai

In [12]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Kepulauan_Mentawai"
df = get_table(url)
df

                               nama   alamat
0             Parsaoran Simanjuntak  No Data
1                     Maru Saerejen  No Data
2                  Ibrani Sababalat  No Data
3                  Nelsen Sakerebau  No Data
4                    Yosep Sarogdok  No Data
5                   Julius Tairarak  No Data
6    T. Fortenmart Yohannes Pardede  No Data
7                     Jakop Saguruk  No Data
8                         Syafridin  No Data
9                     Isar Taileleu  No Data
10             Bruno Guimek Sagalak  No Data
11                     Jimer Munthe  No Data
12            A. K. Roberthyl Saogo  No Data
13                Alisandre Zalukhu  No Data
14  Stefanus Victorianus Sabaggalet  No Data
15                    Hendri Dunand  No Data
16                  Salimi Samuntei  No Data
17                 Rasyidin Syaiful  No Data
18             Juni Arman Samaloisa  No Data
19                 Fernando Sabajou  No Data

In [13]:
df.to_csv("./DPRD TK II/Sumbar/Mentawai.csv", index=False)

### Kabupaten Lima Puluh Kota

In [14]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Lima_Puluh_Kota"
df = get_table(url)
df

                                 nama   alamat
0                               Asrul  No Data
1                      Hemmy Setiawan  No Data
2                         Irwin Idrus  No Data
3                           Irmantedi  No Data
4                           Virmadona  No Data
5                           Deni Asra  No Data
6                      Muhammad Afdal  No Data
7                        Khairul Apit  No Data
8                        Akmal Rustam  No Data
9                          H. Darlius  No Data
10                       Afri Yunaldi  No Data
11                      Syamsul Mikar  No Data
12                     Riko Febrianto  No Data
13                  Putra Satria Veri  No Data
14                        Doni Ikhlas  No Data
15                        Alia Efendi  No Data
16                       Beni Murdani  No Data
17                             Zukron  No Data
18                     H. Yos Sariadi  No Data
19                        Bisron Hadi  No Data
20                         Ermizal J.  No Data
21  Wirman Datuak Pangeran Nan Putiah  No Data
22                          Ridhawati  No Data
23                  Marsanova Andesra  No Data
24                            Mulyadi  No Data
25                      Akrimal Adham  No Data
26                        Hj. Zuhatri  No Data
27                        Gusti Randa  No Data
28                         Epi Suardi  No Data
29                         Arsi Medes  No Data
30                             Alfian  No Data
31                       Syamsuwirman  No Data
32                     Sastri Andriko  No Data
33                            Marshal  No Data
34                      Wendi Chandra  No Data

In [15]:
df.to_csv("./DPRD TK II/Sumbar/Lima_Puluh_Kota.csv", index=False)

### Kabupaten Padang Pariaman

In [16]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Padang_Pariaman"
df = get_table(url)
df

                   nama   alamat
0           Syafrinaldi  No Data
1           Hasan Basri  No Data
2        Mohammad Zaher  No Data
3             Afredison  No Data
4              Edirizal  No Data
5               Mulyadi  No Data
6           Happy Neldy  No Data
7             Hamardian  No Data
8          H. Arwinsyah  No Data
9             Harpianda  No Data
10                Ramli  No Data
11              Jondedi  No Data
12                Yusri  No Data
13      Rahmad Mahmudal  No Data
14  Syahrul Datuak Lung  No Data
15               Dasmar  No Data
16         Syafrizal A.  No Data
17          Mothia Aziz  No Data
18          Munafestoni  No Data
19          Alfa Edison  No Data
20            Yuliasman  No Data
21    Suryadi Zuhri Ali  No Data
22           Jon Hendri  No Data
23            Risdianto  No Data
24        Syafrial Amir  No Data
25             Siswanto  No Data
26           Dewiwarman  No Data
27        Syafruddin S.  No Data
28               Makmur  No Data
29               Rosman  No Data
30        Topik Hidayat  No Data
31                Erman  No Data
32         Rahman Rizal  No Data
33            Aprinaldi  No Data
34           Dedi Salim  No Data
35               Evendi  No Data
36   H. Surisman Syukur  No Data
37         Januar Bakri  No Data
38           Zul Efendi  No Data
39                Basir  No Data

In [17]:
df.to_csv("./DPRD TK II/Sumbar/Padang_Pariaman.csv", index=False)

### Kabupaten Pasaman

In [18]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pasaman"
df = get_table(url)
df

                            nama   alamat
0                   Welly Suhery  No Data
1         Muhammad Ansyari Lubis  No Data
2                      Aminullah  No Data
3                         Jusran  No Data
4                  Rahmi Wahidah  No Data
5                         Karman  No Data
6                          Asraf  No Data
7                        Bustomi  No Data
8                        Martias  No Data
9   Muhammad Maradongan Nasution  No Data
10            Eka Hariani Sandra  No Data
11                       Sodikin  No Data
12                         Yasri  No Data
13                       Syofyan  No Data
14                      Yusrizal  No Data
15                       Salamat  No Data
16                  Ahmad Kadafi  No Data
17                  Danny Ismaya  No Data
18                        Aprial  No Data
19                Nelfri Asfandi  No Data
20                        Syamri  No Data
21                       Farizal  No Data
22                  Yulius Erita  No Data
23                    Bona Lubis  No Data
24                        Erizal  No Data
25                     Emitrapil  No Data
26                     Arivatana  No Data
27                      Yulisman  No Data
28                Haniful Khairi  No Data
29                     H. Hendri  No Data
30              Leon Fitra Irfan  No Data
31                     Ristawadi  No Data
32                  Rudi Apriasi  No Data
33                       Mulyadi  No Data
34                 Nelo Prihardi  No Data

In [19]:
df.to_csv("./DPRD TK II/Sumbar/Pasaman.csv", index=False)

### Kabupaten Pasaman Barat

In [20]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pasaman_Barat"
df = get_table(url)
df

                         nama   alamat
0     Yulhendri Datuak Putiah  No Data
1                   Ali Nasir  No Data
2                H. Adriwilza  No Data
3                  H. Erianto  No Data
4                     Wahyudi  No Data
5               Parizal Hafni  No Data
6                       Hafiz  No Data
7                Heri Miheldi  No Data
8                    Meilizar  No Data
9           Ronal Dodya Restu  No Data
10               Dedi Lesmana  No Data
11          Endang Jaya Putra  No Data
12               Elfa Susanti  No Data
13                      Rosdi  No Data
14              H. Daliyus K.  No Data
15                 Budi Nasko  No Data
16                  Erefriwan  No Data
17                 Dirwansyah  No Data
18                H. Yefrizal  No Data
19                      Muzar  No Data
20           Muhammad Guntara  No Data
21                   Supriono  No Data
22                   Masri M.  No Data
23               Hanapi Lubis  No Data
24                    Sunardi  No Data
25                     Wasman  No Data
26              Muhammad Umar  No Data
27           H. Baharuddin R.  No Data
28                  Syafridal  No Data
29             H. Insan Sabri  No Data
30                   H. Ifdal  No Data
31  Syerli Puspita Indah Sari  No Data
32                  H. Damlis  No Data
33                  Sifrowati  No Data
34                  Subandrio  No Data
35           Endra Yama Putra  No Data
36                     Nazwar  No Data
37                    Juniwar  No Data
38                   Sahriman  No Data
39                    Syafnil  No Data

In [22]:
df.to_csv("./DPRD TK II/Sumbar/Pasaman_Barat.csv", index=False)

### Kabupaten Pesisir Selatan

In [23]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pesisir_Selatan"
df = get_table(url)
df

                                 nama   alamat
0                        Indra Wijaya  No Data
1                             Aprizal  No Data
2                              Rahman  No Data
3   Aprinal Tanjung Datuak Rajo Moleh  No Data
4          Pardinal Datuak Tan Kiamek  No Data
5             Herpi Damson Epi Kampai  No Data
6                            Harianto  No Data
7                             Hakimin  No Data
8                              Daskom  No Data
9                          Fetmadarni  No Data
10                    Sri Kumala Dewi  No Data
11                            Ronaldi  No Data
12                    Syafril Saputra  No Data
13                    Mahmud Yosrizal  No Data
14                           Ermiwati  No Data
15                Dedi Rahmanto Putra  No Data
16                           Al Ermon  No Data
17          H. Aprial Habas Buya Piai  No Data
18                         Almasri S.  No Data
19                      Zainal Aripin  No Data
20                            Aljufri  No Data
21                          Hardianto  No Data
22                         Feby Rifli  No Data
23                              Irjal  No Data
24                            Jamalus  No Data
25                             Pardis  No Data
26                             Yusman  No Data
27                              Irwan  No Data
28                         Julianavia  No Data
29                        Erman Sawar  No Data
30                             Armadi  No Data
31                             Marzan  No Data
32                            Ermizen  No Data
33                           Darwiadi  No Data
34                           Novermal  No Data
35                           Kusmanto  No Data
36                         Abdul Muis  No Data
37                     Nasrul Hartono  No Data
38                      Hanafi Herman  No Data
39                         Robi Binur  No Data
40                        Ikal Jonedi  No Data
41                      Jamalus Yatim  No Data
42                          Awarisman  No Data
43                           Alkisman  No Data
44                        Yuslimardan  No Data

In [24]:
df.to_csv("./DPRD TK II/Sumbar/Pesisir_Selatan.csv", index=False)

### Kabupaten Sijunjung

In [25]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Sijunjung"

In [26]:
df = get_table(url)
df

                    nama   alamat
0               Desriwan  No Data
1            Amlasta Boy  No Data
2          Emelda Wiguna  No Data
3              Delfirman  No Data
4           Rusdi Antoni  No Data
5    Bambang Surya Irwan  No Data
6              Indrawadi  No Data
7            Givo Aldino  No Data
8                  Dasep  No Data
9             Yusnidarti  No Data
10         Elva Endayani  No Data
11               Sarikal  No Data
12  H. Efrinedi Nangkodo  No Data
13               Amrizal  No Data
14               Sukardi  No Data
15        Syofian Hendri  No Data
16   Antonio Oksa Mursil  No Data
17     H. Hendri Susanto  No Data
18       Syasmi Ultriadi  No Data
19            Hendranadi  No Data
20          April Marsal  No Data
21           Brista Yozi  No Data
22               Mukhlis  No Data
23           Aroni Basri  No Data
24              Zalmiati  No Data
25  Aprisal Putra Bungsu  No Data
26                 Bakri  No Data
27              Walbardi  No Data
28               Sabirin  No Data
29        Syafrul Khatib  No Data

In [29]:
df.to_csv("./DPRD TK II/Sumbar/Sijunjung.csv", index=False)

### Kabupaten Solok

In [30]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Solok"
df = get_table(url)
df

                           nama   alamat
0                   Dodi Hendra  No Data
1             Iskan Nofis, S.P.  No Data
2                    Septrismen  No Data
3              Jon Firman Pandu  No Data
4            Hafni Hafiz, A.Md.  No Data
5                         Arlon  No Data
6                 Zamroni, S.H.  No Data
7                   Surimariadi  No Data
8            Yetty Aswaty, S.H.  No Data
9   Vivi Yulistia Rahayu, S.AP.  No Data
10                     Olzaheri  No Data
11                    Mukhnaldi  No Data
12        M. Hidayat, B.Sc. Ak.  No Data
13                  Armen Plani  No Data
14                       Jamris  No Data
15              Azwirman, S.Ag.  No Data
16         Nosa Ekananda, S.Pd.  No Data
17             Drs. Nazar Bakri  No Data
18                  Yusferdizen  No Data
19              Harry Pawestrie  No Data
20           Dendi, S.Ag., M.A.  No Data
21                       Nelson  No Data
22                    M. Syukri  No Data
23         Renaldo Gusmal, S.E.  No Data
24               Aurizal, S.Pd.  No Data
25           Drs. Ahmad Purnama  No Data
26     Ivoni Munir, S.Farm.Apt.  No Data
27                       Faizal  No Data
28             Etranedi, S.Kep.  No Data
29    Sutan Muhamad Bahri, S.E.  No Data
30         Syukri Firman, S.Pi.  No Data
31                 Lucki Efendi  No Data
32         Dian Anggraini, S.H.  No Data
33                      Mulyadi  No Data
34                Efdizal, S.H.  No Data

In [31]:
df.to_csv("./DPRD TK II/Sumbar/Solok.csv", index=False)

### Kabupaten Solok Selatan

In [32]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Solok_Selatan"
df = get_table(url)
df

                         nama   alamat
0              Marwan Effendi  No Data
1                     Mukhlis  No Data
2                David Taster  No Data
3                    Abu Suid  No Data
4             Armen Syahjohan  No Data
5               Afrinaldi Ali  No Data
6                Zigo Rolanda  No Data
7             Afrizal Chandra  No Data
8                     Syafril  No Data
9                 Roni Ismaji  No Data
10                H. Mursiwal  No Data
11                   H. Sabri  No Data
12          Zulfikar Erawandi  No Data
13                Edi Susanto  No Data
14                   Solikhin  No Data
15              Dedi Arisandi  No Data
16              Mon Nofrizhal  No Data
17  Afrizal Datuak Rajo Jalil  No Data
18               Ade Vernanda  No Data
19            Ali Sabri Abbas  No Data
20               Mesi Aswanto  No Data
21             Yendri Susanto  No Data
22              Dede Pasarela  No Data
23              Albert Arifin  No Data
24              Wahyu Hidayat  No Data

In [33]:
df.to_csv("./DPRD TK II/Sumbar/Solok_Selatan.csv", index=False)

### Kabupaten Tanah Datar

In [34]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tanah_Datar"
df = get_table(url)
df

                             nama   alamat
0                         Jonnedi  No Data
1                         Kamrita  No Data
2   H. Rony Mulyadi Datuak Bungsu  No Data
3    Afrizal Datuak Rajo Lenggang  No Data
4                     Surva Hutri  No Data
5                 H. Azwar Rabain  No Data
6                     Asrul Jusan  No Data
7        Afriman Datuak Majo Indo  No Data
8       Syafaruddin Datuak Marajo  No Data
9                 Herman Sugiarto  No Data
10                    Dedi Irawan  No Data
11                   Anton Yondra  No Data
12            Adriljinil Simabura  No Data
13                   Nova Hendria  No Data
14                   Khairul Abdi  No Data
15                       Istiqlal  No Data
16                         Nurzal  No Data
17                      Abu Bakar  No Data
18                        Saidani  No Data
19                       Dekminil  No Data
20               Arianto Chaniago  No Data
21                     Agus Tofik  No Data
22                        Zulhadi  No Data
23                  Yalvema Jurin  No Data
24                        Jasmadi  No Data
25          Alimuhar Sutan Tunaro  No Data
26                     Beni Remon  No Data
27                   Zulli Rustam  No Data
28                     Wadra Wati  No Data
29                Muhammad Haekal  No Data
30                    Benny Apero  No Data
31                     Eri Hendri  No Data
32                          Donna  No Data
33                        Syafril  No Data
34                Nurhamdi Zahari  No Data

In [35]:
df.to_csv("./DPRD TK II/Sumbar/Tanah_Datar.csv", index=False)

### Kota Bukittinggi

In [37]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Bukittinggi"

In [39]:
df = pd.read_html(url)[5]    
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                       nama   alamat
0             Abdul Rachman  No Data
1          Shabirin Rachmat  No Data
2                Asri Bakar  No Data
3              Beny Yusrial  No Data
4   Muhammad Angga Alfarici  No Data
5             Herman Sofyan  No Data
6                H. Syafril  No Data
7                 Jon Edwar  No Data
8         Edison Katik Basa  No Data
9                     Asril  No Data
10     Zulhamdi Nova Candra  No Data
11           H. Ibra Yasser  No Data
12                Ibnu Asis  No Data
13        H. Syaiful Efendi  No Data
14                    Arnis  No Data
15                Nur Hasra  No Data
16              Dedi Fatria  No Data
17                 Irman H.  No Data
18                 Hj. Noni  No Data
19            Nofrizal Usra  No Data
20         Hj. Rahmi Brisma  No Data
21            Yontrimansyah  No Data
22             Rusdy Nurman  No Data
23                Alizarman  No Data
24                Maderizal  No Data

In [40]:
df.to_csv("./DPRD TK II/Sumbar/Bukit_Tinggi.csv", index=False)

### Kota Padang

In [44]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Padang"
df = pd.read_html(url)[5]    
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                     nama   alamat
0             Delma Putra  No Data
1   Manufer Putra Firdaus  No Data
2           Syafrial Kani  No Data
3              Donal Ardi  No Data
4               Muzni Zen  No Data
5         Elly Thrisyanti  No Data
6            Dewi Susanti  No Data
7              Amran Tono  No Data
8             Boby Rustam  No Data
9          Mastilizal Aye  No Data
10                Budi S.  No Data
11       Wismar Panjaitan  No Data
12         Meilasa Waruwu  No Data
13          Iswanto Kwara  No Data
14                 Jumadi  No Data
15      Zulhardi Z. Latif  No Data
16          Miswar Jambak  No Data
17             Osman Ayub  No Data
18                Zalmadi  No Data
19           Helmi Moesim  No Data
20           H. Muharlion  No Data
21               Pun Ardi  No Data
22  H. Andi Wijaya Kusuma  No Data
23                  Jafar  No Data
24                  Rafdi  No Data
25                  Edmon  No Data
26              H. Muhidi  No Data
27          Arnedi Yarmen  No Data
28     H. Djunaidy Hendry  No Data
29         Yuhilda Darwis  No Data
30                 Dasman  No Data
31              Murikhwan  No Data
32          Rustam Efendi  No Data
33                 Yandri  No Data
34                  Jufri  No Data
35                Asrizal  No Data
36             Amril Amin  No Data
37       Irawati Meuraksa  No Data
38           Faisal Nasir  No Data
39                Mukhlis  No Data
40                Salisma  No Data
41            Surya Jufri  No Data
42           Nila Kartika  No Data
43          Ilham Maulana  No Data
44             Azwar Siry  No Data

In [45]:
df.to_csv("./DPRD TK II/Sumbar/Padang.csv", index=False)

### Kota Padangpanjang

In [46]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Padang_Panjang"
df = get_table(url) 
df

                            nama   alamat
0                         Herman  No Data
1                 Yudha Prasetia  No Data
2            Riza Aditya Nugraha  No Data
3                  Yulius Kaisar  No Data
4       Mahdelmi Datuak Barbanso  No Data
5          Yovan Fadayan Remindo  No Data
6                 H. Novi Hendri  No Data
7                         Imbral  No Data
8                  Micko Kirstie  No Data
9              Kiki Anugerah Dia  No Data
10           H. Nasrullah Nukman  No Data
11                         Idris  No Data
12                       Hukemri  No Data
13                        Erizal  No Data
14  Zulfikri Datuak Gindo Malano  No Data
15                   Mardiansyah  No Data
16                 Nasrul Efendi  No Data
17                  Puji Hastuti  No Data
18                Hendra Saputra  No Data
19                  Aditiawarman  No Data

In [47]:
df.to_csv("./DPRD TK II/Sumbar/PadangPanjang.csv", index=False)

### Kota Pariaman

In [48]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Pariaman"
df = get_table(url) 
df

                    nama   alamat
0                Hamdani  No Data
1   Harpen Agus Bulyandi  No Data
2             Fitri Nora  No Data
3             Life Iswar  No Data
4                 Faisal  No Data
5              Ali Bakri  No Data
6            H. Iskandar  No Data
7                Jonasri  No Data
8              M. Taufik  No Data
9          Aris Munandar  No Data
10        Muhammad Yasin  No Data
11          Ikhwan Idham  No Data
12                 Asman  No Data
13               Mulyadi  No Data
14         Gusferi Akmal  No Data
15            Ibnu Hajar  No Data
16     Riko Saputra Zein  No Data
17            Syafruddin  No Data
18                Fadhly  No Data
19         Romi Novialdi  No Data

In [49]:
df.to_csv("./DPRD TK II/Sumbar/Pariaman.csv", index=False)

### Kota Payakumbuh

In [50]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Payakumbuh"
df = get_table(url) 
df

                                     nama   alamat
0                                  Zainir  No Data
1                            Wulan Denura  No Data
2                                 Yernita  No Data
3                       Mawi Etek Arianto  No Data
4                              Aprizal M.  No Data
5                           Yanuar Gazali  No Data
6                         H. Maharnis Zul  No Data
7                            Wirman Putra  No Data
8     H. Yendri Bodra Datuak Parmato Alam  No Data
9                            Ismet Harius  No Data
10                            Ahmad Ridha  No Data
11                             Hamdi Agus  No Data
12                            H. Suparman  No Data
13  Heri Iswandi Datuak Rajo Muntiko Alam  No Data
14                                Mustafa  No Data
15                                 Nasrul  No Data
16                         H. Ahmad Zifal  No Data
17                             H. Alhudri  No Data
18                           Edward D. F.  No Data
19                              Mesrawati  No Data
20                            Opet Nawati  No Data
21                      Sri Joko Purwanto  No Data
22                          Armen Faindal  No Data
23                          Fahlevi Mazni  No Data
24                              Syafrizal  No Data

In [51]:
df.to_csv("./DPRD TK II/Sumbar/Payakumbuh.csv", index=False)

### Kota Sawahlunto

In [53]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Sawahlunto"
df = pd.read_html(url)[5]    
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0                       Adepron  No Data
1                H. Dasrial Ery  No Data
2                      Reflizal  No Data
3                       Hartono  No Data
4               Elfia Rita Dewi  No Data
5                  Rio Mardanil  No Data
6               Ronald Kardinal  No Data
7                      Lazwardi  No Data
8                      H. Afdal  No Data
9                  Jhon Reflita  No Data
10                  Neldaswenti  No Data
11                  H. Jaswandi  No Data
12                       Osvita  No Data
13               Syafwan Efendi  No Data
14                       Irland  No Data
15               Iwan Kurniawan  No Data
16                  Jhoni Warta  No Data
17                    Eka Wahyu  No Data
18                     Masrisal  No Data
19  Masril Datuak Mandaro Malin  No Data

In [54]:
df.to_csv("./DPRD TK II/Sumbar/Sawahlunto.csv", index=False)

### Kota Solok

In [55]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Solok"
df = get_table(url) 
df

                                   nama   alamat
0                               Harizal  No Data
1                 Hj. Rika Hanom, S.Pd.  No Data
2                            Leo Murphy  No Data
3    Ramadhani Kirana Putra, S.E., M.M.  No Data
4                      Yutris Can, S.E.  No Data
5   Nasril In Dt. Malintang Sutan, S.H.  No Data
6                       Yoserizal, S.H.  No Data
7     Amrinof Dias Dt. Ula Gadang, S.H.  No Data
8                          Taufiq Nizam  No Data
9                      Ade Merta, S.Pd.  No Data
10                 Andi Eka Putra, S.H.  No Data
11                          Rusdi Saleh  No Data
12                       Efriyon Coneng  No Data
13                      Rusnaldi, A.Md.  No Data
14               Ade Surya Dharma, S.T.  No Data
15                    Deni Nofri Pudung  No Data
16                        Bayu Kharisma  No Data
17                        Wazadly, S.H.  No Data
18                 Hendra Saputra, S.H.  No Data
19                      Irwan (Sari In)  No Data

In [56]:
df.to_csv("./DPRD TK II/Sumbar/Solok.csv", index=False)

# 2. Sumsel

### Kabupaten Banyuasin

In [58]:
url = "http://dprd.banyuasinkab.go.id/"

In [59]:
soup = get_url(url)

In [119]:
list_nama = []
spans = soup.find_all("a", {"class":"fancybox"}, href=True)
for span in spans:
    nama = str(span).split('title="')[1]
    list_nama.append(nama.split('"/><')[0])
list_nama

['SUIS TIQLAL EFFENDI, SE., M.Si',
 'H. IIS HARYANTO, S.IP',
 'M. NASIR, S.SI',
 'DAMANG WAHYUNI',
 'HERAWATI',
 'FARIDA ACHYATI ROCHIM',
 'ARISA LAHARI, SH',
 'JUFRIANTO',
 'JUPRIYADI',
 'ARPANI',
 'HAIRUL SAPUTRA, SE',
 'SUCI OKTARIANI, SE',
 'NOOR ISHMATUDDIN',
 'INDRA GUNAWAN',
 'DEDI ANTONI, SE',
 'SOPIAN HADI',
 'DARWANI',
 'SUNARNO, SE',
 'AHMAD ZARKASIH, SH.I., MM',
 'NOPIZAR TEGUH, S.SOS',
 'DRS. H. NURWAHID',
 'ENDANG SARI, SE',
 'ALEXANDER',
 'EMI SUMIRTA, SE., M.SI',
 'SRIYATUN, SP',
 'AHMAD YAMIN, SH',
 'TISMON',
 'H. ACHMAD NURCHOLIS, S. SOS. I',
 'SAMSUL RIZAL, SP',
 'SUMANTO',
 'BUDI SANTOSO',
 'SYARNUBI M. NUR, S.SOS',
 'REDHO MUNIR, S.IP',
 'NOPRIADI, ST',
 'H. M.  SHOLIH, SPD.I',
 'H. ALI MAHMUDI, SH., M.SI',
 'DARUL QUTNI, SE',
 'SYAMSUDDIN, SH',
 'H. DASPINI. AS',
 'SUDIRMAN, SE',
 'ASDIANTO',
 'SAKRI, SH',
 'DRS. H. SYAHARUDDIN HR, M. SI',
 'IRIAN SETIAWAN, SH., M.Si',
 'SUKARDI, SP., M.SI',
 'NOOR ISHMATUDDIN',
 'AHMAD ZARKASIH, SH.I., MM']

In [121]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                              nama   alamat
0   SUIS TIQLAL EFFENDI, SE., M.Si  No Data
1            H. IIS HARYANTO, S.IP  No Data
2                   M. NASIR, S.SI  No Data
3                   DAMANG WAHYUNI  No Data
4                         HERAWATI  No Data
5            FARIDA ACHYATI ROCHIM  No Data
6                 ARISA LAHARI, SH  No Data
7                        JUFRIANTO  No Data
8                        JUPRIYADI  No Data
9                           ARPANI  No Data
10              HAIRUL SAPUTRA, SE  No Data
11              SUCI OKTARIANI, SE  No Data
12                NOOR ISHMATUDDIN  No Data
13                   INDRA GUNAWAN  No Data
14                 DEDI ANTONI, SE  No Data
15                     SOPIAN HADI  No Data
16                         DARWANI  No Data
17                     SUNARNO, SE  No Data
18       AHMAD ZARKASIH, SH.I., MM  No Data
19            NOPIZAR TEGUH, S.SOS  No Data
20                DRS. H. NURWAHID  No Data
21                 ENDANG SARI, SE  No Data
22                       ALEXANDER  No Data
23          EMI SUMIRTA, SE., M.SI  No Data
24                    SRIYATUN, SP  No Data
25                 AHMAD YAMIN, SH  No Data
26                          TISMON  No Data
27  H. ACHMAD NURCHOLIS, S. SOS. I  No Data
28                SAMSUL RIZAL, SP  No Data
29                         SUMANTO  No Data
30                    BUDI SANTOSO  No Data
31          SYARNUBI M. NUR, S.SOS  No Data
32               REDHO MUNIR, S.IP  No Data
33                    NOPRIADI, ST  No Data
34            H. M.  SHOLIH, SPD.I  No Data
35       H. ALI MAHMUDI, SH., M.SI  No Data
36                 DARUL QUTNI, SE  No Data
37                  SYAMSUDDIN, SH  No Data
38                  H. DASPINI. AS  No Data
39                    SUDIRMAN, SE  No Data
40                        ASDIANTO  No Data
41                       SAKRI, SH  No Data
42   DRS. H. SYAHARUDDIN HR, M. SI  No Data
43       IRIAN SETIAWAN, SH., M.Si  No Data
44              SUKARDI, SP., M.SI  No Data
45                NOOR ISHMATUDDIN  No Data
46       AHMAD ZARKASIH, SH.I., MM  No Data

In [122]:
df.to_csv("./DPRD TK II/Sumsel/Banyuasin.csv", index=False)

### Kabupaten Empat Lawang

### Kabupaten Lahat

In [123]:
url = "https://sumeks.co/ini-nama-nama-anggota-dprd-lahat-periode-2019-2024/"
soup = get_url(url)

In [126]:
spans = soup.find_all("ol")
spans.find_all("li")

In [137]:
list_nama = []
for span in spans:
    for child in span.find_all("li"):
        list_nama.append(child.text.split("/")[0])

In [138]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                         nama   alamat
0         Fitrizal Homizi ST   No Data
1                 Andriansyah  No Data
2    M. Munawir Safe’i SH, MH  No Data
3               Gaharu SE, MM  No Data
4               Samarudin, SH  No Data
5                  H. Junaidi  No Data
6                 Arry, A. MD  No Data
7     Muhammad Ariadi, SE, MM  No Data
8             Sri Marhaeni SH  No Data
9                    Feryanto  No Data
10             Iduar Alamsyah  No Data
11                     Yunani  No Data
12               Imanullah SH  No Data
13           Widia Ningsih SH  No Data
14            Tanhar Effendy   No Data
15           Andi Sucitera ST  No Data
16                 Ardiansyah  No Data
17            Deka Ariandi SH  No Data
18            Baktiansyah, SP  No Data
19           Ismail Aripin SH  No Data
20           H Mimhaimi SE MM  No Data
21             Nopran Marjani  No Data
22                   Balkisri  No Data
23            Dedi Candera SE  No Data
24                    Zamroni  No Data
25          Ahmad Barmawi AMD  No Data
26              Yudiansyah HM  No Data
27                   Pajeroni  No Data
28           Wiwin Andaini SE  No Data
29        Dendi Alxander SKom  No Data
30       Nanda Pinola Harahap  No Data
31                      Edwar  No Data
32             Sutra Imansyah  No Data
33              Aliman Syahri  No Data
34              Chozali Hanan  No Data
35                 Nizaruddin  No Data
36              Litran Efendi  No Data
37          Muhammad Tabhroni  No Data
38                Lion Faizal  No Data

In [139]:
df.to_csv("./DPRD TK II/Sumsel/Lahat.csv", index=False)

### Kabupaten Muara Enim

### Kabupaten Musi Banyuasin

### Kabupaten Musi Rawas

### Kabupaten Musi Rawas Utara

### Kabupaten Ogan Ilir

In [140]:
url = "https://www.dprd-oganilir.go.id/profil/daftar-anggota/"
soup = get_url(url)

In [150]:
list_nama = []
for child in soup.find_all("div", {"class":"profilgroup-title"}):
    list_nama.append(child.text.replace("\r\n", "").strip())

In [151]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                    nama   alamat
0         Marwan, SE, ME  No Data
1             Khoir S.Pd  No Data
2     Angelina Putri, SH  No Data
3   Ayu Melati, SE., MM.  No Data
4      Sanjaya Agung, SH  No Data
5    Andrean Charles, SH  No Data
6   Ayu Melati, SE., MM.  No Data
7     Angelina Putri, SH  No Data
8         Marwan, SE, ME  No Data
9    Andrean Charles, SH  No Data
10     Sanjaya Agung, SH  No Data
11            Khoir S.Pd  No Data
12    Angelina Putri, SH  No Data
13  Ayu Melati, SE., MM.  No Data
14        Marwan, SE, ME  No Data
15   Andrean Charles, SH  No Data
16     Sanjaya Agung, SH  No Data
17  Ayu Melati, SE., MM.  No Data
18    Angelina Putri, SH  No Data
19        Marwan, SE, ME  No Data
20     Sanjaya Agung, SH  No Data
21  Ayu Melati, SE., MM.  No Data
22    Angelina Putri, SH  No Data
23            Khoir S.Pd  No Data
24        Marwan, SE, ME  No Data
25   Andrean Charles, SH  No Data
26     Sanjaya Agung, SH  No Data

In [152]:
df.to_csv("./DPRD TK II/Sumsel/Ogan_Ilir.csv", index=False)

### Kabupaten Ogan Komering Ilir

### Kabupaten Ogan Komering Ulu

### Kabupaten Ogan Komering Ulu Selatan

### Kabupaten Ogan Komering Ulu Timur

### Kabupaten Penukal Abab Lematang Ilir

### Kota Lubuklinggau

### Kota Pagar Alam

### Kota Palembang

### Kota Prabumulih

In [171]:
url_1 = "https://dprdkotaprabumulih.id/home/daerah-pilih-1-kec-prabumulih-barat-selatan-dan-rkt/"
url_2 = "https://dprdkotaprabumulih.id/daerah-pilih-2-kec-prabumulih-utara-dan-cambai/"
url_3 = "https://dprdkotaprabumulih.id/daerah-pilih-3-kec-prabumulih-timur/"

urls = [url_1, url_2, url_3]

In [172]:
nama_list = []
for url in urls:
    soup = get_url(url)
    for span in soup.find_all("strong"):
        if "NAMA" in span.text:
            nama_list.append(span.text.split("NAMA : ")[1])

In [173]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                    nama   alamat
0         Marwan, SE, ME  No Data
1             Khoir S.Pd  No Data
2     Angelina Putri, SH  No Data
3   Ayu Melati, SE., MM.  No Data
4      Sanjaya Agung, SH  No Data
5    Andrean Charles, SH  No Data
6   Ayu Melati, SE., MM.  No Data
7     Angelina Putri, SH  No Data
8         Marwan, SE, ME  No Data
9    Andrean Charles, SH  No Data
10     Sanjaya Agung, SH  No Data
11            Khoir S.Pd  No Data
12    Angelina Putri, SH  No Data
13  Ayu Melati, SE., MM.  No Data
14        Marwan, SE, ME  No Data
15   Andrean Charles, SH  No Data
16     Sanjaya Agung, SH  No Data
17  Ayu Melati, SE., MM.  No Data
18    Angelina Putri, SH  No Data
19        Marwan, SE, ME  No Data
20     Sanjaya Agung, SH  No Data
21  Ayu Melati, SE., MM.  No Data
22    Angelina Putri, SH  No Data
23            Khoir S.Pd  No Data
24        Marwan, SE, ME  No Data
25   Andrean Charles, SH  No Data
26     Sanjaya Agung, SH  No Data

In [174]:
df.to_csv("./DPRD TK II/Sumsel/Prabumulih.csv", index=False)

# 3. RIAU

### Kabupaten Bengkalis

In [177]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Bengkalis"

In [178]:
df = pd.read_html(url)[5]    
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                       nama   alamat
0       Irmi Syakip Arsalan  No Data
1                  Sugianto  No Data
2             Surya Budiman  No Data
3                H. Arianto  No Data
4                     Elman  No Data
5                    Adihan  No Data
6              Andi Fahlevi  No Data
7            Romel Sinalsal  No Data
8             Zamzami Harun  No Data
9                    Sofyan  No Data
10             Febriza Luwu  No Data
11                    Erwan  No Data
12             Kaderismanto  No Data
13        Simon Lumban Gaol  No Data
14          Ferry Situmeang  No Data
15  Ruby Handoko alias Akok  No Data
16             Rahmah Yenny  No Data
17                Al - Azmi  No Data
18                   Asmara  No Data
19          Septian Nugraha  No Data
20          Syafroni Untung  No Data
21                   Hendri  No Data
22                 Syahrial  No Data
23                   Askori  No Data
24       Mustar J. Ambarita  No Data
25      Rosmawati Sinambela  No Data
26          Hj. Zahraini B.  No Data
27              Susianto SR  No Data
28          H. Khairul Umam  No Data
29                  Giyatno  No Data
30            H. Abi Bahrun  No Data
31                  H. Adri  No Data
32      H. Samsu Dalimunthe  No Data
33                   Sanusi  No Data
34    Laurensius Tampubolon  No Data
35                   Firman  No Data
36               H. Zamzami  No Data
37                  Zuhandi  No Data
38             Indrawansyah  No Data
39             Syaiful Ardi  No Data
40                   Rianto  No Data
41           H. Abdul Kadir  No Data
42   Morison Bationg Sihite  No Data
43          Nanang Haryanto  No Data
44               H. Mawardi  No Data

In [179]:
df.to_csv("./DPRD TK II/Riau/Bengkalis.csv", index=False)

### Kabupaten Indragiri Hilir

In [180]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Indragiri_Hilir"

In [182]:
df = get_table(url)
df

                       nama   alamat
0               Iwan Taruna  No Data
1                     Padli  No Data
2                 H. Awandi  No Data
3               Edi Gunawan  No Data
4            Mu’ammar A. R.  No Data
5   Adhitiya Ramadhan Putra  No Data
6     H. Mohammad Sulo Lipu  No Data
7               H. Samsidik  No Data
8                    Asmadi  No Data
9                Hasanuddin  No Data
10        Mohammad Wahyudin  No Data
11             H. Mariyanto  No Data
12           Bambang Irawan  No Data
13                 Wisnaria  No Data
14                   Samino  No Data
15                M. Kausar  No Data
16           Muhammad Alias  No Data
17          H. Alwi Effendy  No Data
18             H. Ferryandi  No Data
19         H. M. Raus Walid  No Data
20           Okta Hasanatan  No Data
21                  Sumarno  No Data
22               Yuliantini  No Data
23             Edy Haryanto  No Data
24                   Razali  No Data
25           Amd Junaidi An  No Data
26        H. Taufik Hidayat  No Data
27         Mohammad Sukamto  No Data
28         Bambang Hermanto  No Data
29                  Marzuki  No Data
30               H. Sumardi  No Data
31              Abdurrahman  No Data
32               Zulhafendi  No Data
33             H. Sahruddin  No Data
34                 Mahendri  No Data
35               Adi Candra  No Data
36           H. Andi Hamzah  No Data
37               Andi Rusli  No Data
38               Buono Abdi  No Data
39   Muhammad Andry Suganda  No Data
40           Ezian Peranita  No Data
41                    Aswan  No Data
42           Muhammad Sabit  No Data
43                   Asnawi  No Data
44           Siti Bungatang  No Data

In [183]:
df.to_csv("./DPRD TK II/Riau/Indragiri_Hilir.csv", index=False)

### Kabupaten Indragiri Hulu

In [184]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Indragiri_Hulu"
df = get_table(url)
df

                       nama   alamat
0            H. Adek Candra  No Data
1                  Suparman  No Data
2               Dodi Irawan  No Data
3                Masyrullah  No Data
4        H. Suwardi Ritonga  No Data
5              Rosman Yatim  No Data
6                   Hamdani  No Data
7      Hadi Triyas Prananda  No Data
8                 R. Darlan  No Data
9           Halasson Sinaga  No Data
10          Chandra Saragih  No Data
11     Heber Demerius Lubis  No Data
12       Daniel Eka Perdana  No Data
13                 Samsudin  No Data
14            Elda Suhanura  No Data
15                     Alex  No Data
16             Budi Santoso  No Data
17          Jamalan Mulyono  No Data
18              Sulimartian  No Data
19              Edi Santoso  No Data
20                Hendrizal  No Data
21                  Yurizal  No Data
22            Ninik Mulyani  No Data
23                 Mulyanto  No Data
24            Rizal Zamzami  No Data
25        Muhammad Syafa'at  No Data
26      Martimbang Simbolon  No Data
27            Trumen Victor  No Data
28        Mulya Eka Maputra  No Data
29                  Suharto  No Data
30  Bayu Nofyandri Surbakti  No Data
31                   Suryan  No Data
32            Taufik Hendri  No Data
33               Andri Yadi  No Data
34                   Suroto  No Data
35                 Jefriadi  No Data
36              Suhariyanto  No Data
37             Sugeng Riono  No Data
38             Adila Ansori  No Data
39                 Sahriyal  No Data

In [185]:
df.to_csv("./DPRD TK II/Riau/Indragiri_Hulu.csv", index=False)

### Kabupaten Kampar

In [186]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Kampar"
df = get_table(url)
df

                      nama   alamat
0                  Sukardi  No Data
1                 Zumrotun  No Data
2           Wilson Siregar  No Data
3       Rahayu Sri Mulyani  No Data
4          Muhammad Faisal  No Data
5                  Jama'an  No Data
6                   Jamris  No Data
7            Ropii Siregar  No Data
8                 Hanafiah  No Data
9            Maju Marpaung  No Data
10       Morlan Simanjutak  No Data
11             Agus Candra  No Data
12                  Ramlan  No Data
13                 Harsono  No Data
14                  Safi'i  No Data
15            Iib Nursaleh  No Data
16                   Repol  No Data
17  H. Mohammad Kasru Syam  No Data
18          Mahmud Zainuri  No Data
19        Bambang Hermanto  No Data
20                 Anasril  No Data
21               Efrinaldi  No Data
22                  Fahmil  No Data
23       H. Syafrizal Aziz  No Data
24                Safrizal  No Data
25             Zalka Putra  No Data
26             Ali Sobirin  No Data
27           Said Abdullah  No Data
28         Jasnita Tarmizi  No Data
29           H. Syafruddin  No Data
30          Muhammad Ansar  No Data
31           Habiburrahman  No Data
32                   Diski  No Data
33    Muhammad Rizal Rambe  No Data
34          Muhammad Warit  No Data
35             Zulpan Azmi  No Data
36               H. Januar  No Data
37           H. Yuli Akmal  No Data
38    H. Juswari Umar Said  No Data
39           Sunardi D. S.  No Data
40             H. Neflizal  No Data
41                Haswinda  No Data
42            Tony Hidayat  No Data
43          Haidanan Jupen  No Data
44                Kardinal  No Data

In [187]:
df.to_csv("./DPRD TK II/Riau/Kampar.csv", index=False)

### Kabupaten Kepulauan Meranti

In [188]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Kepulauan_Meranti"
df = get_table(url)
df

                      nama   alamat
0                  Hafizan  No Data
1        Pandumaan Siregar  No Data
2                 Khosairi  No Data
3                    Auzir  No Data
4      H. M. Tofikurrohman  No Data
5                M. Tartib  No Data
6                  Basiran  No Data
7                  Cun Cun  No Data
8             Bobi Haryadi  No Data
9     Teuku Mohammad Nasir  No Data
10           H. Khalid Ali  No Data
11        Iskandar Budiman  No Data
12                H. Hatta  No Data
13               H. Musdar  No Data
14                   Pauzi  No Data
15         Muhammad Syafii  No Data
16  Tengku Zulkenedi Yusuf  No Data
17            Al - Amin A.  No Data
18              Dedi Putra  No Data
19                 Taufiek  No Data
20            Suji Hartono  No Data
21            Nirwana Sari  No Data
22              Ardiansyah  No Data
23             Fauzi Hasan  No Data
24         Muhammad Khozin  No Data
25             Eka Yusnita  No Data
26             Dedi Yuhara  No Data
27                   Helmi  No Data
28                 Muzamil  No Data
29                 Darsini  No Data

In [189]:
df.to_csv("./DPRD TK II/Riau/Kepulauan_Meranti.csv", index=False)

### Kabupaten Kuantan Singingi

In [190]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Kuantan_Singingi"
df = get_table(url)
df

                              nama   alamat
0             Agung Rahmat Hidayat  No Data
1                    Asmiwar, S.E.  No Data
2                      Erdizal, IS  No Data
3           Gusmir Indra (Indrako)  No Data
4                Solehudin, S.Sos.  No Data
5            Juprizal, S.E., M.Si.  No Data
6                           Hisron  No Data
7                    Hj. Juniwarti  No Data
8      Satria Mandala Putra, S.Si.  No Data
9                   Mahmudi, S.IP.  No Data
10          Andi Putra, S.H., M.H.  No Data
11        Romi Alfisah Putra, S.E.  No Data
12  Sastra Febriawan, S.Pi., M.Si.  No Data
13            Dr. Adam, S.H., M.H.  No Data
14                       H. Sutoyo  No Data
15               Endri Yupet, S.H.  No Data
16           Muslim, S.Sos., M.Si.  No Data
17                      Riko Nanda  No Data
18                    Gamal Harsum  No Data
19               Jhonson Sihombing  No Data
20                         Syafril  No Data
21           H. Suprigianto, S.Ag.  No Data
22                        Darmizar  No Data
23      Zulhendri Nazaruddin, S.T.  No Data
24              Azrori Analke Apas  No Data
25                          Naswan  No Data
26                         Arpison  No Data
27                        Jepriadi  No Data
28             Maspar Mahmur, S.E.  No Data
29           Hengki Rustop, S.Sos.  No Data
30                    Darwis, S.T.  No Data
31                      Weri Naldi  No Data
32              Jefri Antoni, S.T.  No Data
33                  H. Hamzah Alim  No Data
34                   Fedrios Gusni  No Data

In [191]:
df.to_csv("./DPRD TK II/Riau/kuantan_singingi.csv", index=False)

### Kabupaten Pelalawan

In [192]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pelalawan"
df = get_table(url)
df

                                      nama   alamat
0                           Muswardi, S.P.  No Data
1                            Suwandi, S.T.  No Data
2               H. Rahman Wijayanto, S.IP.  No Data
3                Andri Fransiscus S., S.E.  No Data
4              Indra Kampe, S.E., M.I.Kom.  No Data
5                              Yusri, S.H.  No Data
6                        Abdul Nasib, S.E.  No Data
7                          Syafrizal, S.E.  No Data
8                             Musri Evendi  No Data
9                                    Parji  No Data
10                          Carles, S.Sos.  No Data
11                 Drs. Sozifao Hia, M.Si.  No Data
12                         H. Burhan Manjo  No Data
13                            Said Mashudi  No Data
14                        Nasaruddin, S.H.  No Data
15                         Imustiar, S.IP.  No Data
16                           Sunardi, S.H.  No Data
17                         Baharudin, S.H.  No Data
18                    Abdul Muzakir, A.Ma.  No Data
19                  Adi Sukemi, S.T., M.M.  No Data
20                                 Afrizal  No Data
21                         Abdullah, S.Pd.  No Data
22                    Salehuddin, A.Md.Pi.  No Data
23                     Junaidi Purba, S.T.  No Data
24                     Yose Indrawan, S.T.  No Data
25                     Faizal, S.E., M.Si.  No Data
26                Nazaruddin Arnazh, S.IP.  No Data
27                                Sudirman  No Data
28                H. Anton Sugianto, S.Ud.  No Data
29                           Sukardi, S.H.  No Data
30                      Yuliasa Gulo, S.H.  No Data
31                         Robinhot Saragi  No Data
32  Monang Eliezer Pasaribu, S.Sos., M.Si.  No Data
33                       Evi Zulvian, S.H.  No Data
34                Rudyanto Sihombing, S.P.  No Data

In [193]:
df.to_csv("./DPRD TK II/Riau/Pelalawan.csv", index=False)

### Kabupaten Rokan Hilir

In [194]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Rokan_Hilir"
df = get_table(url)
df

                            nama   alamat
0                        Henriza  No Data
1                 H. Syarifuddin  No Data
2                  Syahrin Usman  No Data
3                     Ismaryanti  No Data
4                   Ucok Mukhtar  No Data
5                  Syamsul Akmal  No Data
6                      Krismanto  No Data
7             Jhonni Simanjuntak  No Data
8                        Purnomo  No Data
9                      Rusmanita  No Data
10                        Maston  No Data
11                Maria Tambunan  No Data
12                    Muhar Riza  No Data
13              Jasmadi Ijaskori  No Data
14                         Aswin  No Data
15                       Ilhammi  No Data
16  Risben Nduwari Tambun Saribu  No Data
17                   H. Abdullah  No Data
18                   Darwis Syam  No Data
19            Basiran Nur Efendi  No Data
20                      Sudirman  No Data
21                        Sumini  No Data
22          Raly Anugrah Harahap  No Data
23                  Dody Saputra  No Data
24           Muhammad Firdaus NZ  No Data
25                      Hermawan  No Data
26                     Syamsudin  No Data
27                      Zulkifli  No Data
28          Fazrul Hidayat Lubis  No Data
29                      Muzardin  No Data
30                    Dana Patra  No Data
31                 Perwedissuito  No Data
32                        Riduan  No Data
33                  Budi Santoso  No Data
34                       Harmida  No Data
35                      Amansyah  No Data
36                   Hj. Sunirah  No Data
37                      Jefri B.  No Data
38                    Najaruddin  No Data
39                        Hamzah  No Data
40                      Surianto  No Data
41                   Imam Suroso  No Data
42                     Elfarinda  No Data
43                        Riyadi  No Data
44                         Fatli  No Data

In [195]:
df.to_csv("./DPRD TK II/Riau/Rokan_hilir.csv", index=False)

### Kabupaten Rokan Hulu

In [196]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Rokan_Hulu"
df = get_table(url)
df

                     nama   alamat
0                 Thamrin  No Data
1         Radianto Sinaga  No Data
2             Emon Casmon  No Data
3   Novli Wanda Ade Putra  No Data
4             Abdul Halim  No Data
5                 Budiman  No Data
6             Hermanuddin  No Data
7           H. Abdul Muas  No Data
8          Muhammad Ilham  No Data
9           Patrun Rahman  No Data
10                 Faizul  No Data
11         Hj. Sumiartini  No Data
12            Budi Suroso  No Data
13   Sikfikal Lumban Gaol  No Data
14       Yetni Jon Hendri  No Data
15               Zulfahmi  No Data
16          Hardi Chandra  No Data
17   Karneng Dimara Lubis  No Data
18     Hasmeri Yulinawati  No Data
19       Zulheri Tambusai  No Data
20           Dedek Hendro  No Data
21                 Jondri  No Data
22                  Rusdi  No Data
23    Nono Patria Pratama  No Data
24              Ali Imran  No Data
25       Gurka Pandiangan  No Data
26      M. Hasby Assodiqi  No Data
27            Budi Darman  No Data
28                  Rusli  No Data
29         Syahbana Lubis  No Data
30   H. Depredi Kurniawan  No Data
31                 Mahmud  No Data
32      H. Arif Reza Syah  No Data
33            H. M. Hilip  No Data
34        Mulyadi Siregar  No Data
35               Andrizal  No Data
36        M. Sahril Topan  No Data
37                Murkhas  No Data
38                 Darwin  No Data
39      Ayatullah Kumaini  No Data
40                Arisman  No Data
41         Niko Pelamunia  No Data
42              Mukhlizar  No Data
43             H. Firdaus  No Data
44             Mohd. Aidi  No Data

In [197]:
df.to_csv("./DPRD TK II/Riau/Rokan_hulu.csv", index=False)

### Kabupaten Siak

In [198]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Siak"
df = get_table(url)
df

                     nama   alamat
0                Muhtarom  No Data
1                  Rohman  No Data
2                Awaludin  No Data
3                 Sutarno  No Data
4            Robi Cahyadi  No Data
5       Androy Ade Rianda  No Data
6    Paramananda Pakpahan  No Data
7                   Rakip  No Data
8            Oloan Munthe  No Data
9        Marudut Pakpahan  No Data
10     Hendri Pangaribuan  No Data
11          Indra Gunawan  No Data
12                H. Azmi  No Data
13            H. Tarmijan  No Data
14             H. Sumaryo  No Data
15               Zulkifli  No Data
16       Jondris Pakpahan  No Data
17  Ternando Simangunsong  No Data
18          Miduk Gurning  No Data
19                 Rusmin  No Data
20                Suryono  No Data
21                 Muslim  No Data
22               Sudarman  No Data
23        Tengku Muhammad  No Data
24             Kusmanjaya  No Data
25               Zulfaini  No Data
26               H. Musar  No Data
27                Sujarwo  No Data
28                 Syarif  No Data
29                Sunarto  No Data
30                 Fairus  No Data
31               Gustimar  No Data
32    Ridha Alwis Effendi  No Data
33                Ngatmin  No Data
34     Jannes Simanjuntak  No Data
35          Nelson Manalu  No Data
36            Syamsurizal  No Data
37       Teguh Tantang Y.  No Data
38            Syamsurijal  No Data
39          Muhammad Arum  No Data

In [199]:
df.to_csv("./DPRD TK II/Riau/Rokan_hulu.csv", index=False)

### Kota Dumai

In [200]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Dumai"
df = get_table(url)
df

                                    nama   alamat
0                                  Idrus  No Data
1                               Yuhandri  No Data
2   Johannes Marcus Parluhutan Tetelepta  No Data
3                          Gusri Effendy  No Data
4                   Andy Putra Silitonga  No Data
5                                 Bahari  No Data
6                        Marihot Sitorus  No Data
7                                 Edison  No Data
8                                Ponimin  No Data
9                               Syarifah  No Data
10                          Hj. Haslinar  No Data
11                             Sri Wanah  No Data
12                                Yusman  No Data
13                              Sutrisno  No Data
14                Muhamad Al Ichwan Hadi  No Data
15                          Rudi Hartono  No Data
16                               Mawardi  No Data
17                     Tahjuddin Effendi  No Data
18                                 Hasan  No Data
19                                Salman  No Data
20                                Hamdan  No Data
21                      Syaprizal Nurdin  No Data
22                                Bujang  No Data
23                              Hasrizal  No Data
24                           Jem Harahap  No Data
25                             Suprianto  No Data
26                   Mara Hamdan Harahap  No Data
27                               Kamisan  No Data
28                         Agus Purwanto  No Data
29                     Roni Ganda Bakara  No Data

In [201]:
df.to_csv("./DPRD TK II/Riau/Dumai.csv", index=False)

### Kota Pekanbaru

In [202]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Pekanbaru"
df = get_table(url)
df

                     nama   alamat
0            H. Fathullah  No Data
1           H. Wan Agusti  No Data
2                H. Ervan  No Data
3           Sri Rubiyanti  No Data
4            Nurul Ikhsan  No Data
5           Zainal Arifin  No Data
6           Ginda Burnama  No Data
7         Victor Parulian  No Data
8            Dapot Sinaga  No Data
9          Ruslan Tarigan  No Data
10     Heri Kawi Hutasoit  No Data
11  Davit Marihot Silaban  No Data
12            Robin Eduar  No Data
13     Hj. Masny Ernawati  No Data
14         Sovia Septiana  No Data
15    H. Tarmizi Muhammad  No Data
16     Ida Yulita Susanti  No Data
17      Munawar Syahputra  No Data
18   Muhammad Isa Lahamid  No Data
19             Firmansyah  No Data
20      Muhammad Sabarudi  No Data
21          Hamdani M. S.  No Data
22                Kartini  No Data
23          Yasser Hamidy  No Data
24                Mulyadi  No Data
25                   Rois  No Data
26          H. Zulkarnain  No Data
27               Nofrizal  No Data
28        Irman Sasrianto  No Data
29  Hj. Arwinda Gusmalina  No Data
30            Indra Sukma  No Data
31             Roni Pasla  No Data
32           Doni Saputra  No Data
33            Eri Sumarni  No Data
34     Krismat Hutagalung  No Data
35               Zulfahmi  No Data
36             Ali Suseno  No Data
37            H. Suherman  No Data
38        Roem Diani Dewi  No Data
39             Aidil Amri  No Data
40          Heri Setiawan  No Data
41   Tengku Azwendi Fajri  No Data
42           Sigit Yuwono  No Data
43          Pangkat Purba  No Data
44         Jepta Sitohang  No Data

In [203]:
df.to_csv("./DPRD TK II/Riau/Pekanbaru.csv", index=False)