In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin
import pandas as pd
import csv
from tqdm import tqdm
import numpy as np

# Function

In [2]:
def get_url(url):
    headers = {
         'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'
     }
    r = requests.get(url, headers=headers)  # Using the custom headers we defined above
    soup = BeautifulSoup(r.content, 'lxml') 
    return soup

def get_table(url):
    df = pd.read_html(url)[4]    
    df = df.rename(columns={"Nama Anggota" : "nama"})
    df["alamat"] = "No Data"
    df = df[["nama", "alamat"]]

    return df

# Gorontalo

### Kabupaten Boalemo

### Kabupaten Bone Bolango

### Kabupaten Gorontalo

In [3]:
url_1 = "https://dprd.gorontalokota.go.id/page/fraksi-golkar-2"
url_2 = "https://dprd.gorontalokota.go.id/page/fraksi-ppp"
url_3 = "https://dprd.gorontalokota.go.id/page/fraksi-pan"
url_4 = "https://dprd.gorontalokota.go.id/page/fraksi-demokrat-2"
url_5 = "https://dprd.gorontalokota.go.id/page/fraksi-2"
url_6 = "https://dprd.gorontalokota.go.id/page/fraksi-gerindra"

urls = [url_1, url_2, url_3, url_4, url_5, url_6]

### Kabupaten Gorontalo Utara

### Kabupaten Pohuwato

### Kota Gorontalo

# Sulawesi Selatan

### Kabupaten Bantaeng

In [5]:
url = "https://rakyatku.com/read/162520/ini-wajah-wajah-25-anggota-dprd-bantaeng-priode-2019-2024"
soup = get_url(url)
span = soup.find("div", {"class":"detail_post entry-content"})

In [27]:
list_nama = [x.text for x in span.find_all("p")[11:]]
list_nama = [x.split("(")[0] for x in list_nama]
list_nama = [x.split(".")[1] if len(x.split(".")) >= 2 else "No Data" for x in list_nama]
list_nama = list(filter(lambda a: a != "No Data", list_nama))
list_nama

[' Muhammad Asri ',
 ' Muh Irham Irdansyah Irfan ',
 ' Budi Santoso ',
 ' Herlina Aris ',
 ' Asriudy Asman ',
 ' Didik Sugiharto ',
 ' Dhimas Darmadi ',
 ' Pratita Nareswari Putri Wijaya ',
 ' Jumrah ',
 ' Andi Erni Indriasanti ',
 ' Marwani ',
 ' Muhammad Yusuf ',
 ' Hamsya Ahmad ',
 ' Adytiawan Said ',
 ' Muhammad Ridwan ',
 ' Nining Karlina ',
 ' Misbahuddin Basri ',
 ' Irianto ',
 ' Hasanuddin ',
 ' Sudarman ',
 ' A Nurhayati ',
 ' Mustainnah ',
 ' Abd Rahman Tompo ',
 ' Asbar Sakti ',
 ' A Muh Sultan ']

In [29]:
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"]="No Data"
df

                                nama   alamat
0                     Muhammad Asri   No Data
1         Muh Irham Irdansyah Irfan   No Data
2                      Budi Santoso   No Data
3                      Herlina Aris   No Data
4                     Asriudy Asman   No Data
5                   Didik Sugiharto   No Data
6                    Dhimas Darmadi   No Data
7    Pratita Nareswari Putri Wijaya   No Data
8                            Jumrah   No Data
9             Andi Erni Indriasanti   No Data
10                          Marwani   No Data
11                   Muhammad Yusuf   No Data
12                     Hamsya Ahmad   No Data
13                   Adytiawan Said   No Data
14                  Muhammad Ridwan   No Data
15                   Nining Karlina   No Data
16                Misbahuddin Basri   No Data
17                          Irianto   No Data
18                       Hasanuddin   No Data
19                         Sudarman   No Data
20                      A Nurhayati   No Data
21                       Mustainnah   No Data
22                 Abd Rahman Tompo   No Data
23                      Asbar Sakti   No Data
24                     A Muh Sultan   No Data

In [30]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Bantaeng.csv", index=False)

### Kabupaten Barru

In [37]:
url = "https://newsmetropol.com/25-anggota-dprd-barru-periode-tahun-2019-2024-dilantik-berikut-namanya/"
soup = get_url(url)
list_nama = [y.text.split("(")[0] for x in soup.find("div", {"class":"entry-content clearfix"}).find_all("ol") for y in x.find_all("li")]
list_nama

['H Kamil ',
 'Mursalim Abdullah ',
 'Rusdi ',
 'A Wawo Mannojengi ',
 'Rifai Muin ',
 'Iqbal ',
 'Syahrul Ramdani ',
 'H Muhammad Akil ',
 'Syamsu Rijal ',
 'AFK Madjid ',
 'Muh Erdy ',
 'H Rusdi Cara ',
 'A Yenny ',
 'Susanti Gerindra)',
 'Andi Akram Fieter ',
 'Lukman ',
 'Sri Wulandari ',
 'Sulaeman ',
 'Hacing ',
 'Hj Hamsiati ',
 'H Jamaluddin Ismail ',
 'Syamsuddin ',
 'Hj Asmirah ',
 'Syahrullah ',
 'Alifandi Aska ']

In [38]:
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"]="No Data"
df

                    nama   alamat
0               H Kamil   No Data
1     Mursalim Abdullah   No Data
2                 Rusdi   No Data
3     A Wawo Mannojengi   No Data
4            Rifai Muin   No Data
5                 Iqbal   No Data
6       Syahrul Ramdani   No Data
7       H Muhammad Akil   No Data
8          Syamsu Rijal   No Data
9            AFK Madjid   No Data
10             Muh Erdy   No Data
11         H Rusdi Cara   No Data
12              A Yenny   No Data
13     Susanti Gerindra)  No Data
14    Andi Akram Fieter   No Data
15               Lukman   No Data
16        Sri Wulandari   No Data
17             Sulaeman   No Data
18               Hacing   No Data
19          Hj Hamsiati   No Data
20  H Jamaluddin Ismail   No Data
21           Syamsuddin   No Data
22           Hj Asmirah   No Data
23           Syahrullah   No Data
24        Alifandi Aska   No Data

In [39]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Barru.csv", index=False)

### Kabupaten Bone

In [66]:
url = "https://bone.go.id/2019/08/12/pelantikan-anggota-dprd-bone-terpilih-periode-2019-2024/"
soup = get_url(url)
spans = [x.text for x in soup.find("div", {"class":"entry-content entry-content-single"}).find_all("p")[9:]]
spans = [k for k in spans if '(' in k]
spans = [x.split("\n") for x in spans]
spans = [j for sub in spans for j in sub]
spans = [x.split("(")[0] for x in spans]
list_nama = [" ".join(x.split(".")[1:]) if len(x.split(".")) >= 3 else x.split(".")[1] for x in spans]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                         nama   alamat
0    A  Ryad Baso Padjalangi   No Data
1         A  Irwan Wirasasti   No Data
2    A  Wahyu Herman Sampara   No Data
3            A Wahyudi Taqwa   No Data
4                Fahri Rusli   No Data
5          Rangga Risa Swara   No Data
6                A Muh Salam   No Data
7              Bahtiar Malla   No Data
8                  Ade Ferry   No Data
9                  A Bahtiar   No Data
10           Andi Boby Ishak   No Data
11               H Abd Hamid   No Data
12      Andi Heryanto Bausad   No Data
13              H Abd Rahman   No Data
14                Indra Jaya   No Data
15         A Nur Salam Nawir   No Data
16                   Mulyadi   No Data
17               Idris Usman   No Data
18                   A Atoro   No Data
19            Hasrul Harahap   No Data
20                 HA Suaedi   No Data
21      Bustanil Arifin Amry   No Data
22                 Herman ST   No Data
23           A  Taufiq Kadir   No Data
24                 Muh Ramli   No Data
25        A  Adil Fadli Lura   No Data
26           A Muh Nur Pakki   No Data
27            Irwandi Burhan   No Data
28                   Suharni   No Data
29         Andi Purnama Sari   No Data
30                  Marliati   No Data
31            Hj  Adriani AP   No Data
32       H  Saipullah Latief   No Data
33      A  Mappanyukki Takka   No Data
34             Muhammad Amir   No Data
35          Andi Akbar Yahya   No Data
36             H  Askarianto   No Data
37              H Kaharuddin   No Data
38           Andi Akhiruddin   No Data
39              Muh Asrullah   No Data
40                 Arifuddin   No Data
41                 H  Ramang   No Data
42        A Muh Idris Rahman   No Data
43                    Faisal   No Data
44                  H Rahmat   No Data

In [67]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Bone.csv", index=False)

### Kabupaten Bulukumba

### Kabupaten Enrekang

### Kabupaten Gowa

In [79]:
url = "https://suarajelata.com/2019/09/09/45-anggota-dprd-kabupaten-gowa-resmi-dilantik-berikut-nama-namanya/"
soup = get_url(url)
spans = [x.text for x in soup.find("div", {"class":"entry-content entry-content-single"}).find_all("p")[3:]]
spans = [k for k in spans if '(' in k]
spans = [x.split("\n") for x in spans]
spans = [j for sub in spans for j in sub]
spans = [x.split("(")[0] for x in spans]
list_nama = [k for k in spans if '*' in k]
list_nama = [x.split("* ")[1] for x in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                               nama   alamat
0           Hj.St. Hania Hafid S.E   No Data
1             Andi Tenri Indah S.E   No Data
2     Andi Hikmawati A.Kumala Idjo   No Data
3            Drs.Muh.Yusuf Sommeng   No Data
4                     Hasmollah MB   No Data
5                      Asnawi Syam   No Data
6      H.Nur As’ad Hijaz Dg.Tayang   No Data
7                       Taufik Sip   No Data
8                 Andi Lukman Naba   No Data
9                          Nurliah   No Data
10        H.Abd Haris Lira Dg.Sila   No Data
11                 Ir.Muh.Amir Ali   No Data
12                     Hj.Irmawati   No Data
13                   Sri Sidarwati   No Data
14            Hj.Mussaddiyah Rahim   No Data
15             Fatahaddin Kr.Jarum   No Data
16                       Rosita SE   No Data
17        H.Makmur S.Pd Dg.Mangung   No Data
18                 H.Rafiuddin, SE   No Data
19            Abd.Razak SE Dg.Lewa   No Data
20                M.Natsir Dg.Sega   No Data
21                      Baharuddin   No Data
22          H.Muhammaddong Dg.Rate   No Data
23        Drs.H.Muh.Basir Dg.Bella   No Data
24            Abd.Rahman Dg.Lalang   No Data
25                Dian Purnamasari   No Data
26   Wahyuni Nurdani S.Pd Dg.Simba   No Data
27                   Sitti Husniah   No Data
28         Zulkifli Alimuddin Tiro   No Data
29      Nasruddin S.Sos Dg.Sitakka   No Data
30         H.Muslimin S.Ag Dg.Mile   No Data
31  H.M Raiys Sahabuddin Dg.Tayang   No Data
32                     Asrul Riolo   No Data
33                   Diana Susanti   No Data
34           H.Abdul Salam Dg.Rani   No Data
35              H.Muh.Dahrul Jabir   No Data
36            H.Muh.Said Dg.Ngitung  No Data
37              Saharuddin Dg.Mone   No Data
38                 Ir.H.Baharuddin   No Data
39                  Risqiyah Hijaz   No Data
40                     Zulfiadi SE   No Data
41              Ir.H.M.Anwar Usman   No Data
42   Muh.Ramli Siddik S.Os Dg.Rewa   No Data
43           H.Muh.Dahlan Dg.Tawang  No Data
44                Ardiansyah Sabir   No Data

In [80]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Gowa.csv", index=False)

### Kabupaten Jeneponto

In [94]:
url = "https://www.jenepontokab.go.id/berita-show/bupati-lantik-40-anggota-dprd-jeneponto"
soup = get_url(url)
list_nama = [y.text for x in soup.find_all("h6") for y in x.find_all("span", {"style":"font-family: "})]
list_nama = [k for k in list_nama if '(' in k]
list_nama = [x.split("(")[0] for x in list_nama]
list_nama = [" ".join(x.split(".")[1:]) if len(x.split(".")) > 2 else x.split(".")[1] for x in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                            nama   alamat
0                    Muh Anshar   No Data
1                   Salmawati S   No Data
2               Mega Yuna Arimi   No Data
3                  Ir Abd Malik   No Data
4                  H Chaeruddin   No Data
5          Rima Ayumi Wulandari   No Data
6     H Muh Imam Taufiq, SE  MM   No Data
7        Ir H Awaluddin Sinring   No Data
8              H Abd Rasyid, SE   No Data
9       Nurhadi Junianto, S Sos   No Data
10                  Hartono, SE   No Data
11                    Arifuddin   No Data
12     Nurlaela Basir, SH  M Si   No Data
13            Drs  H Salinringi   No Data
14               Nur Amin Tantu   No Data
15                        Jusri   No Data
16                 Sariyono, SP   No Data
17                H Muhammad  S   No Data
18        Asdin Basoddin, SH MH   No Data
19          H Syamsul Kamal, MM   No Data
20                 Khadafi, S IP  No Data
21                     Halim BK   No Data
22                     Irmawati   No Data
23                      Sumarni   No Data
24       H Zainuddin Bata, S Hi   No Data
25                 Didi Suryadi   No Data
26      Andi Kaharuddin Mustamu   No Data
27              Abd Hafid, S Ag   No Data
28                       Taufiq   No Data
29           Irsal Azis Kr Lagu   No Data
30                A  Rahmansyah   No Data
31                Hardianti, ST   No Data
32           Muh Islam Iskandar   No Data
33               Kaharuddin, SE   No Data
34                  Rudi Ridwan   No Data
35           H Ahmaf Sahabuddin   No Data
36   Khaidir Adi Saputra Saiful   No Data
37           Sri Wahyuni, S K M   No Data
38                    Abd Abbas   No Data
39        Hanapi Sewang, SE  MM   No Data

In [95]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Jeneponto.csv", index=False)

### Kabupaten Kepulauan Selayar

In [108]:
url = "https://kepulauanselayarkab.go.id/berita-anggota-dprd-selayar-periode-20192024-resmi-dilantik-11-diantaranya-wajah-baru.html"
soup = get_url(url)
list_nama = [x.text for x in soup.find_all("ol")]
list_nama

['\nMaryani Ali, S.E dari Partai Golkar\nMuhammad Aqsa Ramadhan A.A dari Partai Golkar\nMuhammad Anas Ali, S.H. dari PDI Perjuangan\nM. Affandi, S.E. dari Partai Gerindra\nH. Andi Muslim, S.E. dari Partai Golkar\n',
 '\nHj. Asnaina dari Partai Golkar\nMuhammad Aris Ridwan, S.E. dari Partai Gerindra\nDra. Hj. Suriyani dari PAN\nH. Syamsurrijal Rahim, S.Sos. dari Partai Golkar\nHj. Eni Sutiyono dari PKS\nAndi Mahmud, S.T. dari Partai Demokrat\n',
 '\nDrs. Syamsul Bakhri dari PKB\nDevi Zulkifli dari Partai Golkar\nSukri, S.IP dari Partai Demokrat\n',
 '\nH. Yonder dari Partai Golkar\nAwiluddin, S.H. dari Partai Gerindra\nH. Andi Idris, S.Sos. dari PAN\nH.M. Suwadi, S.E. dari PKS\nMuhammad Ardi, S.Sos dari Partai Golkar\n',
 '\nMappatunru, S.Pd. dari Partai Golkar\nDrs. Tanri Bangun Patta dari PAN\nSudirman dari Partai NasDem\nHj. Asmawar dari Partai Golkar\nAndi Jamarong, S.Sos. dari Partai Hanura\nMiswar Wahyudhy Nasir Leha, S.E., dari Partai Demokrat.\n',
 '\n\n\n\n\n\npendaftaran merek\nszdt6@gmail.com  |  29 Agu 2019, 06:20:16 WIB\n\n pagi  yang  cerah...  selamat  beraktifitas  kawan.  \nhttps://jasaseoweb.net/rental-mobil-bali/ \nhttp://pxrv.blogspot.com/2019/08/sewa-mobil-bali.html \nhttp://gedeb.us/mobil-rental-bali.html \nhttp://phreakaholic.com/rental-mobil-bali/ \nhttps://jasaseo.club/sewa-mobil-bali-lepas-kunci/ \n\n \n']

In [109]:
list_nama = [x.split("\n")[1:-1] for x in list_nama][:-1]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("dari")[0] for x in list_nama]
list_nama

['Maryani Ali, S.E ',
 'Muhammad Aqsa Ramadhan A.A ',
 'Muhammad Anas Ali, S.H. ',
 'M. Affandi, S.E. ',
 'H. Andi Muslim, S.E. ',
 'Hj. Asnaina ',
 'Muhammad Aris Ridwan, S.E. ',
 'Dra. Hj. Suriyani ',
 'H. Syamsurrijal Rahim, S.Sos. ',
 'Hj. Eni Sutiyono ',
 'Andi Mahmud, S.T. ',
 'Drs. Syamsul Bakhri ',
 'Devi Zulkifli ',
 'Sukri, S.IP ',
 'H. Yonder ',
 'Awiluddin, S.H. ',
 'H. Andi Idris, S.Sos. ',
 'H.M. Suwadi, S.E. ',
 'Muhammad Ardi, S.Sos ',
 'Mappatunru, S.Pd. ',
 'Drs. Tanri Bangun Patta ',
 'Sudirman ',
 'Hj. Asmawar ',
 'Andi Jamarong, S.Sos. ',
 'Miswar Wahyudhy Nasir Leha, S.E., ']

In [110]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                  nama   alamat
0                    Maryani Ali, S.E   No Data
1          Muhammad Aqsa Ramadhan A.A   No Data
2             Muhammad Anas Ali, S.H.   No Data
3                    M. Affandi, S.E.   No Data
4                H. Andi Muslim, S.E.   No Data
5                         Hj. Asnaina   No Data
6          Muhammad Aris Ridwan, S.E.   No Data
7                   Dra. Hj. Suriyani   No Data
8       H. Syamsurrijal Rahim, S.Sos.   No Data
9                    Hj. Eni Sutiyono   No Data
10                  Andi Mahmud, S.T.   No Data
11                Drs. Syamsul Bakhri   No Data
12                      Devi Zulkifli   No Data
13                        Sukri, S.IP   No Data
14                          H. Yonder   No Data
15                    Awiluddin, S.H.   No Data
16              H. Andi Idris, S.Sos.   No Data
17                  H.M. Suwadi, S.E.   No Data
18               Muhammad Ardi, S.Sos   No Data
19                  Mappatunru, S.Pd.   No Data
20            Drs. Tanri Bangun Patta   No Data
21                           Sudirman   No Data
22                        Hj. Asmawar   No Data
23              Andi Jamarong, S.Sos.   No Data
24  Miswar Wahyudhy Nasir Leha, S.E.,   No Data

In [111]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Selayar.csv", index=False)

### Kabupaten Luwu

In [126]:
url = "https://makassar.tribunnews.com/2019/09/02/ini-nama-35-anggota-dprd-luwu-periode-2019-2024"
soup = get_url(url)
list_nama = [y.text for x in soup.find_all("div", {"class":"side-article txt-article multi-fontsize"}) for y in x.find_all("p")]
list_nama = [k for k in list_nama if 'Dapil' in k]
list_nama = [x.split(":")[1] for x in list_nama]
list_nama = [x.split(")") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k.split(". ")[1] for k in list_nama]
list_nama

['Ainun Massinring, SH ',
 'Andi Mammang ',
 'Ridwan Bakokang ',
 'Zulkifli, ST, M.Si ',
 'Zainal Arifin ',
 'Rusli Sunali ',
 'Muh Ibrahim Besar Nuhung, SH ',
 'Wahyu Napeng ',
 'Ishak Sallo ',
 'Andi Abdul Muharrir ',
 'Ir Basaruddin, SP ',
 'Sri Astuti ',
 'H Muliadi ',
 'Hasdir, SH, M.Si ',
 'Muh Yani Mulake, SP ',
 'H Sugiman Janong, S.Kom, M.Si ',
 'Anton ',
 'Zeth Ida Parante ',
 'Erwin Barabba, SH ',
 'Ruddin Sibutu ',
 'Nur Alam Tagan, S.FIL, M.H ',
 'Hamid Tara ',
 'Herman Paral, SH, MH ',
 'H Syahruddin M, S.Pd ',
 'Rahmat ',
 'Rifaldy Eka Putra ',
 'Risal Rahmat, SH ',
 'Andi Admiral Kaddiraja, SH ',
 'Arbi Arsyad ',
 'Suleman Ishak, SP ',
 'Mappatunru ',
 'Sukma, S.Pd.I ',
 'Nur Aspina Revodi Djano, SKM, MM ',
 'H Lahmuddin, SH, MH ',
 'Summang ']

In [127]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                 nama   alamat
0               Ainun Massinring, SH   No Data
1                       Andi Mammang   No Data
2                    Ridwan Bakokang   No Data
3                 Zulkifli, ST, M.Si   No Data
4                      Zainal Arifin   No Data
5                       Rusli Sunali   No Data
6       Muh Ibrahim Besar Nuhung, SH   No Data
7                       Wahyu Napeng   No Data
8                        Ishak Sallo   No Data
9                Andi Abdul Muharrir   No Data
10                 Ir Basaruddin, SP   No Data
11                        Sri Astuti   No Data
12                         H Muliadi   No Data
13                  Hasdir, SH, M.Si   No Data
14               Muh Yani Mulake, SP   No Data
15     H Sugiman Janong, S.Kom, M.Si   No Data
16                             Anton   No Data
17                  Zeth Ida Parante   No Data
18                 Erwin Barabba, SH   No Data
19                     Ruddin Sibutu   No Data
20        Nur Alam Tagan, S.FIL, M.H   No Data
21                        Hamid Tara   No Data
22              Herman Paral, SH, MH   No Data
23              H Syahruddin M, S.Pd   No Data
24                            Rahmat   No Data
25                 Rifaldy Eka Putra   No Data
26                  Risal Rahmat, SH   No Data
27        Andi Admiral Kaddiraja, SH   No Data
28                       Arbi Arsyad   No Data
29                 Suleman Ishak, SP   No Data
30                        Mappatunru   No Data
31                     Sukma, S.Pd.I   No Data
32  Nur Aspina Revodi Djano, SKM, MM   No Data
33               H Lahmuddin, SH, MH   No Data
34                           Summang   No Data

In [128]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Luwu.csv", index=False)

### Kabupaten Luwu Timur

In [129]:
url = "https://makassar.antaranews.com/berita/138214/30-anggota-dprd-luwu-timur-periode-2019-2024-dilantik"
soup = get_url(url)

In [147]:
list_nama = soup.find("div", {"class":"post-content clearfix font17"}).text.split("\n\r\n")
list_nama = [x.lower() for x in list_nama]
list_nama = [k for k in list_nama if "daerah pemilihan" in k]
list_nama = [x.split(":")[-1] for x in list_nama]
list_nama = [x.split(",") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("dan") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("(")[0] for x in list_nama]
list_nama

[' najamuddin ',
 ' muhammad siddiq bm ',
 ' efraen ',
 ' i wayan suparta ',
 ' hj harisah suhardjo ',
 ' kh suardi ismail ',
 ' mahading ',
 ' heriyanti harun ',
 ' badawi alwi ',
 ' sarkawi a. hamid ',
 ' sunawar ',
 ' alpian ',
 ' irmanto hafid ',
 ' masrul suara ',
 ' wahidin wahid ',
 ' aris situmorang ',
 ' andi surono ',
 ' rully heryawan ',
 ' leonar bongga ',
 ' tugiat ',
 ' i made sariana ',
 ' amran syam ',
 ' aripin ',
 ' ober datte ',
 ' semuel ',
 ' usman sadik ',
 ' andi baharuddin ',
 ' supriyanto ',
 ' abdul munir razak ',
 ' muhammad abduh ']

In [148]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                     nama   alamat
0             najamuddin   No Data
1     muhammad siddiq bm   No Data
2                 efraen   No Data
3        i wayan suparta   No Data
4    hj harisah suhardjo   No Data
5       kh suardi ismail   No Data
6               mahading   No Data
7        heriyanti harun   No Data
8            badawi alwi   No Data
9       sarkawi a. hamid   No Data
10               sunawar   No Data
11                alpian   No Data
12         irmanto hafid   No Data
13          masrul suara   No Data
14         wahidin wahid   No Data
15       aris situmorang   No Data
16           andi surono   No Data
17        rully heryawan   No Data
18         leonar bongga   No Data
19                tugiat   No Data
20        i made sariana   No Data
21            amran syam   No Data
22                aripin   No Data
23            ober datte   No Data
24                semuel   No Data
25           usman sadik   No Data
26       andi baharuddin   No Data
27            supriyanto   No Data
28     abdul munir razak   No Data
29        muhammad abduh   No Data

In [149]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Luwu_Timur.csv", index=False)

### Kabupaten Luwu Utara

In [150]:
url = "https://zonakata.com/sah-ini-35-anggota-dprd-luwu-utara-periode-2019-2024/"
soup = get_url(url)

In [157]:
list_nama = [x.text.split("suara") for x in soup.find_all("ol")]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama

['Mahfud Yunus ',
 'Husain ',
 'Haeruddin Yusuf ',
 'Karemuddin ',
 'Elvis ',
 'Adi Jaya ',
 'Riswan Bibbi ',
 'Hamuddin ',
 'Jisman ',
 'Rahmat Laguni ',
 'Hamka Muslimin ',
 'Edy Sudarto ',
 'Sudirman Salomba ',
 'Wardi ',
 'Agus Setiawan ',
 'Suaib Latif ',
 'Arman ',
 'Amir Makhmud ',
 'Rusli Hamid ',
 'Muhammad Said ',
 'Andi Sukma ',
 'Muh Ibrahim ',
 'Mukhlis ',
 'Basir ',
 'Muh Azhal Arifin ',
 'Nasir Saleng ',
 'Awaluddin ',
 'Paulus Palino ',
 'Aris Mustamin ',
 'Jabir Budala ',
 'Yusuf Paembonan ',
 'Yakob Banne ',
 'Rasman ',
 'Edwin Patundungi ',
 'Hamruddin ']

In [158]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                 nama   alamat
0       Mahfud Yunus   No Data
1             Husain   No Data
2    Haeruddin Yusuf   No Data
3         Karemuddin   No Data
4              Elvis   No Data
5           Adi Jaya   No Data
6       Riswan Bibbi   No Data
7           Hamuddin   No Data
8             Jisman   No Data
9      Rahmat Laguni   No Data
10    Hamka Muslimin   No Data
11       Edy Sudarto   No Data
12  Sudirman Salomba   No Data
13             Wardi   No Data
14     Agus Setiawan   No Data
15       Suaib Latif   No Data
16             Arman   No Data
17      Amir Makhmud   No Data
18       Rusli Hamid   No Data
19     Muhammad Said   No Data
20        Andi Sukma   No Data
21       Muh Ibrahim   No Data
22           Mukhlis   No Data
23             Basir   No Data
24  Muh Azhal Arifin   No Data
25      Nasir Saleng   No Data
26         Awaluddin   No Data
27     Paulus Palino   No Data
28     Aris Mustamin   No Data
29      Jabir Budala   No Data
30   Yusuf Paembonan   No Data
31       Yakob Banne   No Data
32            Rasman   No Data
33  Edwin Patundungi   No Data
34         Hamruddin   No Data

In [159]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Luwu_Utara.csv", index=False)

### Kabupaten Maros

In [187]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Maros_2019%E2%80%932024"
# pd.read_html(url)
soup = get_url(url)
spans = [x.text for x in soup.find_all("ul")]
list_nama = spans[4:9]
list_nama = [x.split("\n") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama

['H. Mansyur Janong, S.E. ',
 'Nurwahyuni Malik, S.Pdi ',
 'Hj. Nurlinda ',
 'Muhammad Rusdi ',
 'Muhammad Taufik Malik, S.H. ',
 'H. Andi Patarai Amir, S.E. ',
 'H. Andi Syarifuddin B. ',
 'H. Muhammad Amri Yusuf, S.STP, M.M. ',
 'H. Andi Syafril Chaidir Syam, S.I.P, M.H. ',
 'Hj. Haeriah Rahman, S.P. ',
 'Syamsuddin, S.E. ',
 'Andi Rijal Abdullah, S.E. ',
 'Hj. Andi Welly ',
 'Hj. Suriati, S.Sos. ',
 'Amril ',
 'Drs. H. Abidin Said, M.Si. ',
 'Hj. Fatmawati, S.M. ',
 'A. Syahril Mappangara, S.E. ',
 'Muhammad Yusuf, S.Sos. ',
 'Kadir H.L. ',
 'H. Muhammad Yusuf, S.E. ',
 'H. Havid S. Fasha, S.H. ',
 'Muhammad Nasir, S.Sos. ',
 'Hj. Muliati ',
 'Sahariah ',
 'H. Muh. Yusuf Damang, S.Sos. ',
 'Hj. Rosdiana, S.E. ',
 'Andi Makmur Akmal ']

In [188]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                          nama   alamat
0                     H. Mansyur Janong, S.E.   No Data
1                     Nurwahyuni Malik, S.Pdi   No Data
2                                Hj. Nurlinda   No Data
3                              Muhammad Rusdi   No Data
4                 Muhammad Taufik Malik, S.H.   No Data
5                  H. Andi Patarai Amir, S.E.   No Data
6                      H. Andi Syarifuddin B.   No Data
7         H. Muhammad Amri Yusuf, S.STP, M.M.   No Data
8   H. Andi Syafril Chaidir Syam, S.I.P, M.H.   No Data
9                    Hj. Haeriah Rahman, S.P.   No Data
10                           Syamsuddin, S.E.   No Data
11                  Andi Rijal Abdullah, S.E.   No Data
12                             Hj. Andi Welly   No Data
13                        Hj. Suriati, S.Sos.   No Data
14                                      Amril   No Data
15                 Drs. H. Abidin Said, M.Si.   No Data
16                        Hj. Fatmawati, S.M.   No Data
17                A. Syahril Mappangara, S.E.   No Data
18                     Muhammad Yusuf, S.Sos.   No Data
19                                 Kadir H.L.   No Data
20                    H. Muhammad Yusuf, S.E.   No Data
21                    H. Havid S. Fasha, S.H.   No Data
22                     Muhammad Nasir, S.Sos.   No Data
23                                Hj. Muliati   No Data
24                                   Sahariah   No Data
25               H. Muh. Yusuf Damang, S.Sos.   No Data
26                         Hj. Rosdiana, S.E.   No Data
27                          Andi Makmur Akmal   No Data

In [189]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Maros.csv", index=False)

### Kabupaten Pangkajene dan Kepulauan

In [200]:
url_1 = "https://dprd.pangkepkab.go.id/pimpinan/"
url_2 = "https://dprd.pangkepkab.go.id/komisi-i-2/"
url_3 = "https://dprd.pangkepkab.go.id/komisi-i/"
url_4 = "https://dprd.pangkepkab.go.id/komisi-iii/"

urls = [url_1, url_2, url_3, url_4]

In [201]:
list_nama = []
for url in urls:
    soup = get_url(url)
    get_nama = [x.text for x in soup.find_all("h4", {"class":"pp-tm-name"})]
    list_nama.extend(get_nama)
list_nama

['H.ABD HARIS GANI, S.Sos, M.Si',
 'MOH. SOFYAN RAZAK, S.Pi, M.Si',
 'H. NURDIN MAPPIARA, S.Sos',
 'AHMAD IKRAM',
 'Hj. NURLINDA S.Sos',
 'ABD RASID, S.Pd',
 'RAHMAT IRSANULLAH',
 'Hj. HARDIANTY. SE',
 'MUH. REZKY DARMAWANSYAH',
 'H. SUHARDI SYAM, S.Pd',
 'H. SUHARDI SYAM, S.Pd',
 'INDRIANI',
 'H. AMIRUDDIN S.Sos',
 'Ir. H. ABD RASYID, M.Si',
 'Hj. SITTI RABIAH, SH',
 'SAHRUL',
 'AMIRUDDIN TAHIR, SE',
 'H. SYAHARUDDIN F, S.H, MBA',
 'IBRAHIM',
 'ARDIANSAH',
 'Ir. ALFIAN MUIS',
 'BUDIAMIN, SE',
 'MUCHTAR SALI, ST',
 'IRWAN NURSAID, S.Sos',
 'Ramli, SH',
 'SUHARMAN NATSIR LINRUNG, S.Pd',
 'H. MUH.ARIFIN, S.H',
 'SULTAN ABDUL RAHMAN S.Pi',
 'H.MUH. TAUHID',
 'H.IKBAL',
 'UMAR HS, S.H',
 'H. PATTOLA HUSAIN, SE',
 'H. NAJAMUDDIN, SE',
 'H. HASRI']

In [203]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                             nama   alamat
0   H.ABD HARIS GANI, S.Sos, M.Si  No Data
1   MOH. SOFYAN RAZAK, S.Pi, M.Si  No Data
2       H. NURDIN MAPPIARA, S.Sos  No Data
3                     AHMAD IKRAM  No Data
4              Hj. NURLINDA S.Sos  No Data
5                 ABD RASID, S.Pd  No Data
6               RAHMAT IRSANULLAH  No Data
7               Hj. HARDIANTY. SE  No Data
8         MUH. REZKY DARMAWANSYAH  No Data
9           H. SUHARDI SYAM, S.Pd  No Data
10          H. SUHARDI SYAM, S.Pd  No Data
11                       INDRIANI  No Data
12             H. AMIRUDDIN S.Sos  No Data
13        Ir. H. ABD RASYID, M.Si  No Data
14           Hj. SITTI RABIAH, SH  No Data
15                         SAHRUL  No Data
16            AMIRUDDIN TAHIR, SE  No Data
17     H. SYAHARUDDIN F, S.H, MBA  No Data
18                        IBRAHIM  No Data
19                      ARDIANSAH  No Data
20                Ir. ALFIAN MUIS  No Data
21                   BUDIAMIN, SE  No Data
22               MUCHTAR SALI, ST  No Data
23           IRWAN NURSAID, S.Sos  No Data
24                      Ramli, SH  No Data
25  SUHARMAN NATSIR LINRUNG, S.Pd  No Data
26             H. MUH.ARIFIN, S.H  No Data
27       SULTAN ABDUL RAHMAN S.Pi  No Data
28                  H.MUH. TAUHID  No Data
29                        H.IKBAL  No Data
30                   UMAR HS, S.H  No Data
31          H. PATTOLA HUSAIN, SE  No Data
32              H. NAJAMUDDIN, SE  No Data
33                       H. HASRI  No Data

In [204]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Pangkajene dan kepulauan.csv", index=False)

### Kabupaten Pinrang

In [211]:
url = "https://pinrang.bawaslu.go.id/2019/08/26/pelantikan-anggota-dprd-luwu-masa-jabatan-2019-2024-dan-harapan-ketua-bawaslu-pinrang/"
soup = get_url(url)
list_nama = [y.text.split(" (")[0] for x in soup.find_all("ol") for y in x.find_all("li")]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                     nama   alamat
0           H. Mashur Ali  No Data
1               Hj. Rusna  No Data
2              Kamaruddin  No Data
3        Hj. Ratna Arifin  No Data
4          Hj. Andi Mekka  No Data
5     Muh. Syahrul Sarman  No Data
6                  Hitler  No Data
7             Abdul Waris  No Data
8             Andi Riskan  No Data
9                M.Faisal  No Data
10          H. Sahabuddin  No Data
11              M. Syukur  No Data
12               Muhtadin  No Data
13      Syamsuddin Duddin  No Data
14       Hastan Mattanete  No Data
15         H. Achmad Side  No Data
16              Hj. Salma  No Data
17      H.A. Muh Ramdhani  No Data
18            A.alimuddin  No Data
19         Ilwan Sugianto  No Data
20         A. Aan Nugraha  No Data
21    Ahmad Jaya Baramuli  No Data
22               Supriadi  No Data
23               Jefriadi  No Data
24                Hamsyar  No Data
25             Abd. Halim  No Data
26         Usman Bengawan  No Data
27     A. Mulyadi Mustafa  No Data
28              Harun Ali  No Data
29             Muh. Thoha  No Data
30           Markus Manna  No Data
31  A. Pallawagau Kerrang  No Data
32                 Kasman  No Data
33       Hj. Saharia Lolo  No Data
34               Syamsuri  No Data
35                 Hamzah  No Data
36                Hartono  No Data
37     H. Nasrun Paturusi  No Data
38                  Risda  No Data

In [212]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Pinrang.csv", index=False)

### Kabupaten Sidenreng Rappang

In [213]:
url = "https://beritasidrap.com/read/9679/resmi-35-anggota-dprd-sidrap-dilantik-berikut-nama-nama-wajah-lama-dan-baru"
soup = get_url(url)
list_nama = [y.text.split(" (")[0] for x in soup.find_all("ol") for y in x.find_all("li")]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                 nama   alamat
0   Muhammad Rasyid Ridha Bakri, S.Pd  No Data
1           Suckhar Syandhi Hamid, SE  No Data
2                        B Edi Slamet  No Data
3                         Samsumarlin  No Data
4                    H Ruslan, SH MAP  No Data
5                            H Akhmad  No Data
6                            Sulaeman  No Data
7                     Nurfadli Suyuti  No Data
8                        Sudarmin, SH  No Data
9                             Jumiati  No Data
10           Dra Hj Sitti Rahmah, MSi  No Data
11                   Bahrul Appas, SP  No Data
12               Abdul Rahman Mustafa  No Data
13             Saenal Rosi, A Ma Pust  No Data
14                     Ibrahim H Daru  No Data
15                          Pathuddin  No Data
16      Muhammad Syukur Rabaiseng, ST  No Data
17                  Naharuddin Sadeke  No Data
18                        Kasman, SHi  No Data
19            Ahmad Salihin, STh MHum  No Data
20                        Paleppang M  No Data
21           Hj Kartini Bekka S, MKes  No Data
22        H Abdul Rahman Pabbaja, SPd  No Data
23                         Andi Isman  No Data
24                   A Fachry AB, SPi  No Data
25                           H Rusman  No Data
26                      Zainal, S.Sos  No Data
27              Arya Yhoga Vidiantara  No Data
28               A Sugiarno Bahri, SE  No Data
29                             Faisal  No Data
30                 H Ikhsan Rakib, SE  No Data
31                     H Arifin Damis  No Data
32                         Rusdy Gani  No Data
33                             Habibi  No Data
34                       Haeruddin AM  No Data

In [214]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Sindereng Rappang.csv", index=False)

### Kabupaten Sinjai

In [222]:
url = "https://beritasulsel.com/baca/ini-nama-nama-anggota-dprd-sinjai-periode-2019-2024"
soup = get_url(url)
list_nama = [x.text.split("\n") for x in soup.find_all("p")[11:18]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                    nama   alamat
0              A.Olivia Batara Sugi, SH   No Data
1             Drs Lukman H. Arsal, M.Si   No Data
2                         Muh. Takdir M   No Data
3                    Muhammad Wahyu, SH   No Data
4                         Drs. Akmal MS   No Data
5                          Zulkifli, SE   No Data
6                   Mappahakkang, S. Ag   No Data
7             Muzawwir, S. Pd. I, M. Pd   No Data
8                           Zahra Usman   No Data
9          Ardiansyah Haris, S. Sos. MM   No Data
10                          Jamaludddin   No Data
11                       Andi Abrachman   No Data
12                               Rustan   No Data
13                          Muh. Dahlan   No Data
14             Ir. Andi Zaenal Iskandar   No Data
15                        Kamrianto, SE   No Data
16                       Hasnah, S. Sos   No Data
17                      Nurfa Damayanti   No Data
18                                Sabir   No Data
19                      Andi Jusman, ST   No Data
20                                Darna   No Data
21                        Andi Nurbaeti   No Data
22                        Hj. Kusmawati   No Data
23                             H. Bahar   No Data
24  Zainal Abidin Hasnur, S. Sos, M. Si   No Data
25                 Fachriandi Matoa, SE   No Data
26                      Nur Alam, S. Ag   No Data
27                               Darwis   No Data
28                    Nurbaya Toppo, SH   No Data
29                 Ambo Tuwo, SE, M. Si   No Data

In [223]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Sinjay.csv", index=False)

### Kabupaten Soppeng

In [232]:
url = "https://soppeng.bawaslu.go.id/sah-30-anggota-dprd-kabupaten-soppeng-resmi-dilantik/"
soup = get_url(url)

['1. H.A.Wahda, S.E ',
 '2. H. Ismail ',
 '3. Drs. H. A. Rusli M.M ',
 '4. A. Syamsu Rijal, S.E ',
 '5. Muh. Eka Syafri Agelsyah S.E ',
 '6. Drs. H. Rusman, M.Si ',
 '7. A. Mapparemma,M.SE,MM ',
 '1. Hj. Insana, S.Pd.Sd ',
 '2. Andi Wadeng, SE.MM ',
 '3. Sumarni ',
 '4. Riswan,S.Sos ',
 '5. Muhammad Taufan ',
 '6. Nasfiding ',
 '7. Muh. Chandra M. ',
 '1. Andi Hastuti ',
 '2. Syamsuddin, S.S,.M.Si ',
 '3. Drs. Andi Werdin Syam,M.Si ',
 '4. Haeruddin Tahang, S.E ',
 '5. H. Syamsuddin Rennu ',
 '1. Abdul Kadir, SP ',
 '2. Mawa Syamsu,A.Md ',
 '3. Muhammad Ihsan, SS ',
 '4. Hj. Rosnaini,S.Sos ',
 '5. Hj. Immawati, SP ',
 '1. Syahruddin, S.Sos,MM ',
 '2. H. Kusman, SE,MM ',
 '3. Asmawi,SP,.M.Si ',
 '4. Andi Mahfud,S.Sos ',
 '5. Andi Silfy Widara Ningsih, S.Sos ',
 '6. Ibrahim, SE.MM ']

In [237]:
list_nama = [x.text.split("\n") for x in soup.find_all("p")[10:15]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [' '.join(x.split(".")[1:]) if len(x.split(".")) >= 3 else x.split(".")[1] for x in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                  nama   alamat
0                      H A Wahda, S E   No Data
1                           H  Ismail   No Data
2                Drs  H  A  Rusli M M   No Data
3                A  Syamsu Rijal, S E   No Data
4        Muh  Eka Syafri Agelsyah S E   No Data
5                Drs  H  Rusman, M Si   No Data
6               A  Mapparemma,M SE,MM   No Data
7                 Hj  Insana, S Pd Sd   No Data
8                  Andi Wadeng, SE MM   No Data
9                             Sumarni   No Data
10                       Riswan,S Sos   No Data
11                    Muhammad Taufan   No Data
12                          Nasfiding   No Data
13                    Muh  Chandra M    No Data
14                       Andi Hastuti   No Data
15              Syamsuddin, S S, M Si   No Data
16         Drs  Andi Werdin Syam,M Si   No Data
17              Haeruddin Tahang, S E   No Data
18                H  Syamsuddin Rennu   No Data
19                    Abdul Kadir, SP   No Data
20                   Mawa Syamsu,A Md   No Data
21                 Muhammad Ihsan, SS   No Data
22                 Hj  Rosnaini,S Sos   No Data
23                   Hj  Immawati, SP   No Data
24               Syahruddin, S Sos,MM   No Data
25                   H  Kusman, SE,MM   No Data
26                    Asmawi,SP, M Si   No Data
27                  Andi Mahfud,S Sos   No Data
28   Andi Silfy Widara Ningsih, S Sos   No Data
29                     Ibrahim, SE MM   No Data

In [238]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Soppeng.csv", index=False)

### Kabupaten Takalar

In [239]:
url = "https://www.suaralidik.com/daftar-anggota-dprd-terpilih-periode-2019-2024-dinanti-keputusan-resmi-kpu-takalar/"
soup = get_url(url)

In [245]:
list_nama = [x.text.split("\n") for x in soup.find_all("p")[3:6]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [' '.join(x.split(".")[1:]) if len(x.split(".")) >= 3 else x.split(".")[1] for x in list_nama if '.' in x]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df
# list_nama

                        nama   alamat
0             Darwis Sijaya   No Data
1             H Jabir Bonto   No Data
2                     Aswin   No Data
3             H Fadel Ahmad   No Data
4              Bakri Sewang   No Data
5          Andi Noor Zaelan   No Data
6         H Abd Haris Nassa   No Data
7            Husniah Rahman   No Data
8            Abrianti Nasir   No Data
9                   Melinda   No Data
10            Syahrir Nassa   No Data
11             Johan Nojeng   No Data
12        Nurazy Syamz Rani   No Data
13               Ahmad Jaiz   No Data
14        H Muhtar Maluddin   No Data
15          Hj Dawati Sarro   No Data
16   Andi Edwin Parawansyah   No Data
17               Indar Jaya   No Data
18             H Bahar Bani   No Data
19          Nur Annisa Said   No Data
20         Pahlawan Maulana   No Data
21          Hj Erni Halerah   No Data
22       Hj Darmawati Mo’la   No Data
23             H Ahmad Sija   No Data
24         H Amiruddin Mami   No Data
25             Hairil Anwar   No Data
26            Wahyu Saputra   No Data
27           H Bahtiar Syam   No Data
28        H Ibrahim Lotteng   No Data
29              H Nurdin HS   No Data

In [246]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Takalar.csv", index=False)

### Kabupaten Tana Toraja

In [247]:
url = "https://zonakata.com/ini-daftar-30-calon-dprd-tana-toraja-separuh-petahana-tumbang-kursi-dprd-di-isi-sejumlah-muka-baru/"
soup = get_url(url)

In [251]:
list_nama = [y.text.split("(")[0] for x in soup.find_all("ol") for y in x.find_all("li")]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                          nama   alamat
0          Yariana Somalinggi   No Data
1                 Kendek Rante  No Data
2        Nicodemus P. Mangera   No Data
3           Agustinus Patinggi  No Data
4            Welem Sambolangi   No Data
5                 Bertha Pidun  No Data
6       Randan P. Sampetoding   No Data
7           Evivana Rombe Datu  No Data
8   Johanis Lithang Tombilangi  No Data
9        Andareas Tangdirerung  No Data
10      Semuel P. Tandirerung   No Data
11                Yuli Saranga  No Data
12        Paris P. Allorerung   No Data
13   Yohanis Lintin Paembongan  No Data
14               Ikal Paterson  No Data
15          Christian Talebong  No Data
16          Martinus Paonganan  No Data
17         Stepanus Maluangan   No Data
18       DR Kristian HP Lambe   No Data
19               Aser Pakabu’   No Data
20      Yusup Palebangan Pillo  No Data
21                Andrew Tulak  No Data
22             Andareas Tadan   No Data
23       Yakobus Tonglolangi’   No Data
24           Sony Palullungan   No Data
25      Leonardus Tallupadang   No Data
26      Yunus Retu Tandililing  No Data
27             Timotius Tumbu   No Data
28    Yan Anggung Kala’lembang  No Data
29                   Drs. Lita  No Data

In [252]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Tana Toraja.csv", index=False)

### Kabupaten Toraja Utara

In [255]:
url = "https://zonakata.com/30-anggota-dprd-toraja-utara-resmi-dilantik-berikut-nama-namanya/"
soup = get_url(url)
list_nama = [y.text for x in soup.find_all("ol") for y in x.find_all("li")]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                     nama   alamat
0          Nobert R Siama  No Data
1         Limbong Mendila  No Data
2         Ratte Salurante  No Data
3       Yohanis Sampebulu  No Data
4         Erni Demma Pali  No Data
5      Timotius Tandi Bua  No Data
6       Julianto Mapaliey  No Data
7           Pilipus Dambe  No Data
8   Saparuddin Linopadang  No Data
9   Calvin Parapak Tondok  No Data
10     Marten T Parrangan  No Data
11         Samuel T Lande  No Data
12         Herman Pabesak  No Data
13            Ariadi Gala  No Data
14         Samuel Matasak  No Data
15          Israel Makole  No Data
16            Marten Bida  No Data
17    Agustinus Pongmasak  No Data
18      Stepanus Mangatta  No Data
19       Fredy Bato Arung  No Data
20        Stepanus Sarese  No Data
21       Agus Tuku Sarira  No Data
22             Yohanis RL  No Data
23    Agustinus Parrangan  No Data
24          Herman Husain  No Data
25           Alfred Medea  No Data
26     Yusuf Tangke Manda  No Data
27        Yohana Langitan  No Data
28             Alam Lamba  No Data
29  Joni Kornelius Tondok  No Data

In [256]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Toraja Utara.csv", index=False)

### Kabupaten Wajo

In [264]:
url = "https://www.dprd-wajokab.go.id/ini-nama-40-anggota-dprd-kab-wajo-yang-baru-di-lantik-masa-jabatan-2019-2024/"
soup = get_url(url)
list_nama = [y.text.split(")") for x in soup.find_all("ol") for y in x.find_all("li")]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k.split(". ")[1] if ". " in k else k for k in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                                nama   alamat
0                      Taqwa Gaffar   No Data
1                     Irfan Saputra   No Data
2                Firmansyah Perkesi   No Data
3                       Andi Witman   No Data
4                     Sudirman Meru   No Data
5                Andi Tengri Lengka   No Data
6                   Ambo Mappasessu   No Data
7                        A.D Mayang   No Data
8                 Andi Sumange Alam   No Data
9                           Mustafa   No Data
10                 Junaidi Muhammad   No Data
11                         Anwar MD   No Data
12            Muhammad Risaldi Odda   No Data
13            Andi Senurdin Husaini   No Data
14              Zainuddin Ambo Saro   No Data
15                 Andi Muliana Sam   No Data
16            Andi Muhammad Rasyadi   No Data
17                Andi Bakti Werang   No Data
18                   Suriadi Bohari   No Data
19              Arga Prasetya Ashar   No Data
20                        Elfrianto   No Data
21                         Mustarin   No Data
22                      Herman Arif   No Data
23                Andi Suleha Selle   No Data
24                        Haeruddin   No Data
25                         Mursalin   No Data
26  Andi Muhammad Alauddin Palaguna   No Data
27                       Samsu Alam   No Data
28             Andi Muhammad Sarwan   No Data
29            Muhammad Ridwan Angka   No Data
30                       Andi Yusri   No Data
31                          Sulfiah   No Data
32                 Agustang Ranreng   No Data
33                  Asri Jaya Latif   No Data
34                    Andi Muliyadi   No Data

In [265]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Wajo.csv", index=False)

### Kota Makassar

In [285]:
url_1 = "https://fajar.co.id/2019/09/09/ini-50-anggota-dprd-makassar-2019-2024-dilantik-hari-ini/"
url_2 = "https://fajar.co.id/2019/09/09/ini-50-anggota-dprd-makassar-2019-2024-dilantik-hari-ini/2/"
urls = [url_1, url_2]

list_nama = []
for url in urls:
    soup = get_url(url)
    spans = [x.text.split(")") for x in soup.find_all("p")]
    list_nama.extend(spans)

In [286]:
list_nama = [j for sub in list_nama for j in sub][3:]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k for k in list_nama if 'Dapil' not in k]
list_nama = [k.split(". ")[-1] if ". " in k else k for k in list_nama]
list_nama

['Irwan Djafar ',
 'Apiaty K Amin Syam ',
 'Andi Suhada Sappaile ',
 'Rezki ',
 'Zaenal Dg Beta ',
 'Erick Horas ',
 'Muchlis A Misbach ',
 'Fasruddin Rusli ',
 'Anwar Faruq ',
 'Ray Suryadi Arsyad ',
 'Fatma Wahyuddin ',
 'Wahab Thahir ',
 'Rudianto Lallo ',
 'Rachmat Taqwa Qurais ',
 'Pahlevi ',
 'William ',
 'Andi Astiah ',
 'Sahruddin Said ',
 'M Yunus ',
 'Mario David ',
 'M Yahya ',
 'Galmerrya Kondorura ',
 'Al Hidayat Syamsul ',
 'Andi Hadi Ibrahim ',
 'Andi Suharmika ',
 'Nunung Dasniar ',
 'Abdi Asmara ',
 'Sangkala Sadiko ',
 'Abdul Wahid ',
 'Syamsuddin Raga ',
 'Supratman ',
 'Nurhaldin ',
 'Kasrudi ',
 'Mesakh R Rantepadang ',
 'Abdul Aziz Namu ',
 'Hamzah Hamid ',
 'Azwar ',
 'Muh Nasir Rurung ',
 'Adi Rasyid Ali ',
 'Imam Muzakkar ',
 'Arifin dg Kulle ',
 'Budi Hastuti ',
 'Irmawati Sila ',
 'Hasanuddin Leo ',
 'Hj Muliati ',
 'Anton Paul Goni ',
 'Ari Ashari Ilham ',
 'Nurul Hidayat ',
 'Kartini ',
 'Yeni Rahman ']

In [287]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                     nama   alamat
0           Irwan Djafar   No Data
1     Apiaty K Amin Syam   No Data
2   Andi Suhada Sappaile   No Data
3                  Rezki   No Data
4         Zaenal Dg Beta   No Data
5            Erick Horas   No Data
6      Muchlis A Misbach   No Data
7        Fasruddin Rusli   No Data
8            Anwar Faruq   No Data
9     Ray Suryadi Arsyad   No Data
10       Fatma Wahyuddin   No Data
11          Wahab Thahir   No Data
12        Rudianto Lallo   No Data
13  Rachmat Taqwa Qurais   No Data
14               Pahlevi   No Data
15               William   No Data
16           Andi Astiah   No Data
17        Sahruddin Said   No Data
18               M Yunus   No Data
19           Mario David   No Data
20               M Yahya   No Data
21   Galmerrya Kondorura   No Data
22    Al Hidayat Syamsul   No Data
23     Andi Hadi Ibrahim   No Data
24        Andi Suharmika   No Data
25        Nunung Dasniar   No Data
26           Abdi Asmara   No Data
27       Sangkala Sadiko   No Data
28           Abdul Wahid   No Data
29       Syamsuddin Raga   No Data
30             Supratman   No Data
31             Nurhaldin   No Data
32               Kasrudi   No Data
33  Mesakh R Rantepadang   No Data
34       Abdul Aziz Namu   No Data
35          Hamzah Hamid   No Data
36                 Azwar   No Data
37      Muh Nasir Rurung   No Data
38        Adi Rasyid Ali   No Data
39         Imam Muzakkar   No Data
40       Arifin dg Kulle   No Data
41          Budi Hastuti   No Data
42         Irmawati Sila   No Data
43        Hasanuddin Leo   No Data
44            Hj Muliati   No Data
45       Anton Paul Goni   No Data
46      Ari Ashari Ilham   No Data
47         Nurul Hidayat   No Data
48               Kartini   No Data
49           Yeni Rahman   No Data

In [288]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Makasar.csv", index=False)

### Kota Palopo

In [292]:
url = "https://palopokota.go.id/page/dewan-perwakilan-rakyat-daerah-dprd-"
df = pd.read_html(url)[0]
df.columns = ["no", "nama", "jabatan", "partai"]
df["alamat"] = "No Data"
df = df[["nama", "alamat"]].iloc[1:].reset_index(drop=True)
df

                                    nama   alamat
0         Dr. Hj. Nurhaenih, S.Kp.,M.Kes  No Data
1                        Abdul Salam, SH  No Data
2                              Irvan, ST  No Data
3                      Budirani Ratu, SH  No Data
4                                  Jabir  No Data
5           Steven Hamdani, ST.,MM.,M.SI  No Data
6   Christin Lupita Lestari Dengen, S.KH  No Data
7                  Dra. Hj. Megawati, MM  No Data
8                           Darmawati LS  No Data
9                      Misbahuddin, S.IP  No Data
10                    Dahri Suli, SE.,MM  No Data
11            Bogi Harto tahir, SH.,M.KN  No Data
12                       Angga Bantu, SH  No Data
13                Drs. H. Zubir Surasman  No Data
14                        Muhammad Mahdi  No Data
15                   Herawati Masdin, SH  No Data
16                     Aris Munandar, SH  No Data
17                  Robert Arelius Rante  No Data
18                            Nureny, SE  No Data
19               H.A. Herman Wahidin, SE  No Data
20        Harisal A. Latief, S.Pi., M.SI  No Data
21             Drs. Baharman Supri, M.SI  No Data
22                       Efendi Sarapang  No Data
23                         Ely Niang, SE  No Data
24                  Cendrana Saputra, SE  No Data

In [293]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/Palopo.csv", index=False)

### Kota Parepare

In [308]:
url = "https://satudata.pareparekota.go.id/index.php/2021/07/06/daftar-dapil-anggota-dprd-kota-parepare-periode-2019-2024/"
df = pd.read_html(url)[0]
df.columns = ["no", "nama", "fraksi", "partai", "alamat", "no hp"]
df = df[["nama", "alamat"]]
df

                                 nama                 alamat
0   DAPIL I BACUKIKI - BACUKIKI BARAT                    NaN
1      Hj. ANDI NURHATINA TIPU, S.Sos      JL. ARUNG TARUMPU
2          MUHAMMAD YUSUF LAPANNA, SH     JL. GELORA MANDIRI
3               H. BAMBANG H. M NASIR       JL. DURIAN NO. 4
4                          SUYUTI, SE  JL. MATTIROTASINO. 83
5                         SATRIYA, SH        JL. BAU MASSEPE
6               H. SUDIRMAN TANSI, SE         JL. AHMAD YANI
7                   H. MULIADI, S.Sos        JL. ANDI DEWANG
8                 MUSDALIFAH PAWE, SH     JL. JEND. SUDIRMAN
9                         Hj. HARIANI        JL. BAU MASSEPE
10                               NAMA                 ALAMAT

In [315]:
# df = pd.read_csv("./DPRD TK II/Sulawesi Selatan/parepare.csv")
# df.columns = ["nama", "fraksi", "partai", "alamat", "no hp"]
# df = df[["nama", "alamat"]]
# df

In [314]:
df.to_csv("./DPRD TK II/Sulawesi Selatan/parepare.csv", index=False)

In [298]:
df_list[0]

,wdt_ID,NAMA,FRAKSI,PARTAI,ALAMAT,NO. HP
0,1.0,DAPIL I BACUKIKI - BACUKIKI BARAT,NaN,NaN,NaN,NaN
1,2.0,"Hj. ANDI NURHATINA TIPU, S.Sos",FRAKSI GOLKAR,GOLKAR,JL. ARUNG TARUMPU,085242089784
2,3.0,"MUHAMMAD YUSUF LAPANNA, SH",FRAKSI GERINDRA,GERINDRA,JL. GELORA MANDIRI,081242192177
3,4.0,H. BAMBANG H. M NASIR,FRAKSI DEMOKRAT,DEMOKRAT,JL. DURIAN NO. 4,085329995557
4,5.0,"SUYUTI, SE",FRAKSI NASDEM,NASDEM,JL. MATTIROTASINO. 83,08114167333
5,6.0,"SATRIYA, SH",FRAKSI PBD,PDI - P,JL. BAU MASSEPE,085219117676
6,7.0,"H. SUDIRMAN TANSI, SE",FRAKSI PBD,PBB,JL. AHMAD YANI,081218640277
7,8.0,"H. MULIADI, S.Sos",FRAKSI GOLKAR,GOLKAR,JL. ANDI DEWANG,085397060887
8,9.0,"MUSDALIFAH PAWE, SH",FAKAR INDONESIA,PAN,JL. JEND. SUDIRMAN,085113333460
9,10.0,Hj. HARIANI,FAKAR INDONESIA,PERINDO,JL. BAU MASSEPE,085398888839
10,NaN,NAMA,FRAKSI,PARTAI,ALAMAT,NO. HP

# Sulawesi Tenggara

### Kabupaten Bombana

In [316]:
url = "https://bombanakab.go.id/berita/detail?q=512"
soup = get_url(url)
soup.find_all("p")

SSLError: HTTPSConnectionPool(host='bombanakab.go.id', port=443): Max retries exceeded with url: /berita/detail?q=512 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1131)')))

### Kabupaten Buton

### Kabupaten Buton Selatan

In [317]:
url = "https://lenterasultra.com/blog/2019/08/14/ini-nama-20-anggota-dprd-busel-terpilih-2019-2024/"
soup = get_url(url)

In [320]:
list_nama = [x.text for x in soup.find_all("div", {"dir":"auto"})]
# list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
# list_nama = [k.split(". ")[1] if ". " in k else k for k in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                      nama   alamat
0        H. Waode Rohania   No Data
1           Karlina S, Sm   No Data
2          La Ode Ashadin   No Data
3            Lismyarti Se   No Data
4               La Ishaka   No Data
5                   Arlin   No Data
6                H. Laopo   No Data
7             H. La Harnu   No Data
8     La Ode M. Amal Amd.   No Data
9            M Alamin SH.   No Data
10  La Ode Taufik Mansur.   No Data
11        Dodihsri S. Pd.   No Data
12                La Nihu   No Data
13         La Muhadi S.Pd   No Data
14           Aliadi S.Pd.   No Data
15         La Ode Armada,   No Data
16           Lahijira S.H   No Data
17                 Wakodu   No Data
18         La Saali,  B.a   No Data
19           Pomili Womal   No Data

In [321]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Buton Selatan.csv", index=False)

### Kabupaten Buton Tengah

In [324]:
url = "https://penasultra.com/25-anggota-dprd-buteng-resmi-dilantik-ini-daftar-namanya/"
soup = get_url(url)
list_nama = [y.text.split(")") for x in soup.find_all("ol") for y in x.find_all("li")]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k][:-1]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                     nama   alamat
0            Syarifuddin   No Data
1   Sa’al Musrimin Haadi   No Data
2              Azaluddin   No Data
3         Hendi Syafrini   No Data
4              Rahmaniar   No Data
5                 Hasrun   No Data
6             Sarina Afa   No Data
7           Bobi Ertanto   No Data
8                   Adam   No Data
9              H. Hasiri   No Data
10        Wa Ode Mariati   No Data
11              La India   No Data
12              Suharman   No Data
13      La Ode Alim Alam   No Data
14               Samirun   No Data
15               Rosmaya   No Data
16                 Adnan   No Data
17               Mutalib   No Data
18                Tasman   No Data
19   Muhammad Adam Basan   No Data
20             Dani, BSc   No Data
21          H. Kaimuddin   No Data
22   La Ode Af’alu Mahdi   No Data
23                Saadia   No Data
24                Nurman   No Data

In [325]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Buton Tengah.csv", index=False)

### Kabupaten Buton Utara

In [347]:
url = "https://sultrakini.com/20-anggota-dprd-butur-periode-2019-2024-resmi-dilantik/"
soup = get_url(url)
list_nama = [x.text.split("\n") for x in soup.find_all("p")[10:-1]]
list_nama = [j for sub in list_nama for j in sub][2:]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k for k in list_nama if 'Dapil' not in k]
list_nama = [k.split(". ")[-1] if ". " in k else k for k in list_nama]
list_nama = [k.split("dari")[0] if "dari" in k else k for k in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                      nama   alamat
0                   Josri   No Data
1                   Diwan   No Data
2                 Fatriah   No Data
3    Muhammad Trisna Jaya   No Data
4                   Nasri   No Data
5             Septi Rahma   No Data
6        Dewi Sri Mulyana   No Data
7                La Djiru   No Data
8                Rustamin   No Data
9             Lis Sustini   No Data
10                 Sujono   No Data
11              Musyafiun   No Data
12  Muhammad Rukman Basri   No Data
13          Hasrianti Ali   No Data
14      Ahmad Afif Darvin   No Data
15  Muhammad Muslimin Isi   No Data
16   Abdul Mustarif Saleh   No Data
17                 Rahman   No Data
18     Alias Dadi Agusman   No Data
19                 Mazlin   No Data

In [348]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Buton Utara.csv", index=False)

### Kabupaten Kolaka

In [358]:
url = "https://kim.kolakakab.go.id/2019/08/15/kpu-kolaka-tetapkan-30-anggota-dprd-kolaka-terpilih-pemilu-2019/"
soup = get_url(url)
list_nama = [x.text.split("\n") for x in soup.find("div", {"class":"entry-content"}).find_all("p")[2:-2]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k for k in list_nama if 'Daerah' not in k]
# list_nama = [k.split(".")[-1] if ". " in k else k for k in list_nama]
# list_nama = [k.split("dari")[0] if "dari" in k else k for k in list_nama]

list_nama

['1. Saenal Amrin ',
 '2 . H. Zainuddin Boni ',
 '3. Hj. Idiawati ',
 '4. Hj. Fairin Amrinah Sirang ',
 '5. Muh. Ajib Madjid ',
 '6. Syuri Rahayu Pasambuna ',
 '7. Syafaruddin Sunu ',
 '8. Musdalim Zakkir ',
 '9. Tri Setiawan ',
 '1. dr. Hakim Nur Mampa ',
 '2. Hj. Suwarsih Aras ',
 '3. Ramadan Husain ',
 '4. Ir. Akhdan ',
 '5. Firlan Muharram Alimsyah ',
 '6. Yunus Patandianan ',
 '7. Yunus Parorrongan Jama ',
 '8. Kaharuddin ',
 '9. H. Umar Tebu ',
 '1. H. Mustafa ',
 '2. I Ketut Arjana ',
 '3. A. Arna Iffah ',
 '4. Agusalim Tahir ',
 '5. Nasruddin Gombi ',
 '6. Abd. Rauf ',
 '1. Dr. Asmani Arif ',
 '2. Husmaluddin ',
 '3. Muh. Gassing HS. ',
 '4. Syaifullah Halik ',
 '5. Syarifuddin Baso Rantegau ',
 '6. Al Mukhtaram ']

In [359]:
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                             nama   alamat
0                1. Saenal Amrin   No Data
1          2 . H. Zainuddin Boni   No Data
2                3. Hj. Idiawati   No Data
3   4. Hj. Fairin Amrinah Sirang   No Data
4            5. Muh. Ajib Madjid   No Data
5      6. Syuri Rahayu Pasambuna   No Data
6            7. Syafaruddin Sunu   No Data
7             8. Musdalim Zakkir   No Data
8                9. Tri Setiawan   No Data
9         1. dr. Hakim Nur Mampa   No Data
10          2. Hj. Suwarsih Aras   No Data
11             3. Ramadan Husain   No Data
12                 4. Ir. Akhdan   No Data
13   5. Firlan Muharram Alimsyah   No Data
14          6. Yunus Patandianan   No Data
15     7. Yunus Parorrongan Jama   No Data
16                 8. Kaharuddin   No Data
17               9. H. Umar Tebu   No Data
18                 1. H. Mustafa   No Data
19             2. I Ketut Arjana   No Data
20              3. A. Arna Iffah   No Data
21             4. Agusalim Tahir   No Data
22            5. Nasruddin Gombi   No Data
23                  6. Abd. Rauf   No Data
24            1. Dr. Asmani Arif   No Data
25                2. Husmaluddin   No Data
26           3. Muh. Gassing HS.   No Data
27           4. Syaifullah Halik   No Data
28  5. Syarifuddin Baso Rantegau   No Data
29               6. Al Mukhtaram   No Data

In [360]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Kolaka.csv", index=False)

### Kabupaten Kolaka Timur

In [378]:
url = "https://bumisultra.com/daerah/read/3234-25-anggota-dprd-koltim-periode-2019-2024-resmi-dilantik"
soup = get_url(url)
list_nama = [x.split(")") for x in soup.find("div", {"id":"article-detail-content"}).text.split("\n")[5].split(":")[2:]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [k.split("(")[0] for k in list_nama if '(' in k]
list_nama = [k for k in list_nama if 'Dapil' not in k]
list_nama = [" ".join(k.split(".")[1:]) if len(k.split(". ")) >= 2 else k.split(". ")[0] for k in list_nama]
df = pd.DataFrame.from_dict({"nama" : list_nama})
df["alamat"] = "No Data"
df

                            nama   alamat
0           M  Amin W, SE, M si   No Data
1                      Rosdiana   No Data
2                        Syukur   No Data
3                  Amila Rahmil   No Data
4                 Bahrul, S Hut   No Data
5            Ramli Majid SE, MH   No Data
6           1.Arham Said, S.sos   No Data
7        Rujinah Eka Purnamasar   No Data
8               Yudo Handoko SH   No Data
9          Eka Widiawati, S Kep   No Data
10      Drs  Bahararuddin  M Si   No Data
11                     6.Risman   No Data
12   I Ketut Maria Asmara, S TP   No Data
13                  Sukirman SE   No Data
14            Hj  Jumhani, S pd   No Data
15     Suhaemi Nasir S pd, M pd   No Data
16             A  Basir Saransi   No Data
17   6 Rahmatia Lukman SE, M.si   No Data
18                    Yadin, SE   No Data
19           Yosef Sahaka, S pd   No Data
20          Rita Safitri, S kep   No Data
21          Yunianti, A Md, Keb   No Data
22                  Andi Musmal   No Data
23                    Hj  Murni   No Data
24              Ridwan Basnapal   No Data

In [379]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Kolaka Timur.csv", index=False)

### Kabupaten Kolaka Utara

In [385]:
url = "https://berita.kolutkab.go.id/daftar-anggota-dprd-kolaka-utara-2019-2024/"
df = pd.read_html(url)[0]
df.columns = ["no", "nama", "partai", "suara", "kursi", "dapil"]
df = df.iloc[1:]
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                        nama   alamat
1        Ulfah Haeruddin, ST  No Data
2              Martani, S.Pi  No Data
3                 Ahmadi, SE  No Data
4                      Nasir  No Data
5                 Abu Muslim  No Data
6          H. Akhiruddin, SE  No Data
7            Muh. Zafaat Nur  No Data
8        Drs. Sabri mustamin  No Data
9           Drs. H. Sudarmin  No Data
10             Hj. Sukmawati  No Data
11        H. Burhanuddin, SH  No Data
12           Adi Putra, S. M  No Data
13            Agusdin, S.Kom  No Data
14                 H. Incing  No Data
15             Firdaus katim  No Data
16             Baharuddin SH  No Data
17      Hj. Yulu Muliana, SE  No Data
18           M. Syair, A.Sos  No Data
19                 Arifuddin  No Data
20       Mustamrin Saleh, SP  No Data
21        Buhari, S.Kel.M.Si  No Data
22                     Nirma  No Data
23                 Hardianti  No Data
24                    Basman  No Data
25  M. Hadirman sarira, S.Pd  No Data

In [386]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Kolaka Utara.csv", index=False)

### Kabupaten Konawe

In [398]:
url = "https://suaraindonesianews.com/news/30-anggota-dprd-kabupaten-konawe-periode-2019-2024-resmi-dilantik/"
soup = get_url(url)
list_nama = [x.text.split(") :") for x in soup.find("article").find_all("ul")[1:] if ") :" in x.text]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("\n") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("\n") for x in list_nama]
list_nama

[['', 'Partai Amanat Nasional (PAN'],
 [' Marsuddin, Dr. H. Ardin, S.Sos, M.Si, Devi Thesya Feriska Konggoasa, SH, Nuryadin Tombili, Sitti Nurianti, S.Sos, Susi Sri Hartinah, A.Md, Keb, Haryadi, Benny Setiadi Burhan, SE.',
  'Partai Gerakan Indonesia Raya (Gerindra'],
 [' H.Abd Rahim,',
  'Hermansyah Pagala, SE, Ulfiah, SE, Drs.H.Tajuddin Dongge, Kadek Rai Sudiani.',
  'Partai Demokrasi Indonesia Perjuangan (PDIP'],
 [' Rusdianto, SE, MM, Hj. Murni Tombili, I Made Asmaya, S.Pd, Hj. Suriyana, S.Pd.I.',
  'Partai Demokrat (PD'],
 ['Ahmad Zulfadli, Umar Dema, S.Sos, MM, Drs.H.Mustakin, M.Si. Partai Bulan Bintang (PBB'],
 [' H.Alaudin, SH, MH, Samsuddin, Tandabioh, SH, M.AP.',
  'Partai Nasional Demokrat (NasDem'],
 ['',
  'Rahmawati Buhari M Silondae, SE, Sudirman, SE.',
  'Partai Golongan Karya (Golkar'],
 [' H. Gamus, SH, H.A.Ginal Sambari, S.Sos, M.Si.',
  'Partai Kebangkitan Bangsa (PKB'],
 [' Safiudin,',
  'Partai Persatuan Indonesia (Perindo) Juhardin, SE',
  'Partai Keadilan Sejahtera (PKS) Samiri, S.Sos. (Red.SI)',
  '']]

### Kabupaten Konawe Kepulauan

In [403]:
url = "https://mediakendari.com/20-anggota-dprd-konkep-resmi-dilantik-ishak-imanuddin-jadi-pimpinan-dewan-sementara/53753/"
soup = get_url(url)
list_nama = [x.text.split("Partai")[0] for x in soup.find("ol").find_all("li")]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0   Kalbi Erdiansyah S.Ak   No Data
1          Imanuddin S.Pd   No Data
2                   Isman   No Data
3              Lukman SE,   No Data
4            H. Ishak SE,   No Data
5      Muhammad Farid SE,   No Data
6                   Irwan   No Data
7                  Kasmin   No Data
8       Arman Dedi S.Pd.I   No Data
9     Siti Zohra, Amd.Keb   No Data
10           Hajarpin SP,   No Data
11              Ishak SE,   No Data
12          Fajrul Falaah   No Data
13       Arifuddin Bakrie   No Data
14    M. Yakub Rahman SP,   No Data
15             Andika ST,   No Data
16  Abdul Rahman SE, M.Ap   No Data
17     H. Muhammad Yasran   No Data
18           Hatiga S.Sos   No Data
19             Ensoni ST,   No Data

In [404]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Konawe Kepulauan.csv", index=False)

### Kabupaten Konawe Selatan

In [409]:
url = "https://konsel.mediakendari.com/34-anggota-dewan-konsel-resmi-dilantik-satu-orang-tidak-hadir/53746/"
soup = get_url(url)
list_nama = list(set([y.text.split("perolehan ")[0] for x in soup.find_all("ol") for y in x.find_all("li")]))
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                     nama   alamat
0                       Herman Pambahako   No Data
1                           Hj Hasmawati   No Data
2                              Muh Yusri   No Data
3                                  Armal   No Data
4                         Irham Kalenggo   No Data
5                           Andi Ahmad B   No Data
6                     Muh Taufik Mansyur   No Data
7                             Hj Yuliati   No Data
8                                 Ramlan   No Data
9                    I Gusti Putu Wibawa   No Data
10                          Hj Hasnawati   No Data
11                     Sabrilah Taridala   No Data
12                                Marwan   No Data
13        Udin Saputra 1.243 (PDIP/Baru)   No Data
14                        Wawan Suhendra   No Data
15                               Sutiono   No Data
16  Tasman Lamuse 948 (Nasdem/Incumbent)   No Data
17                                Nadira   No Data
18                   Syarifudin Pariwusi   No Data
19                          Butomo Lubis   No Data
20                        Ahmad Muhaimin   No Data
21                                 Nilda   No Data
22                            Hj Suriani   No Data
23                       Mbatono Suganda   No Data
24                      Senawan Silondae   No Data
25                            Haslinda J   No Data
26                            Djuharudin   No Data
27                   Ahmad Arno Silondae   No Data
28                                 Ardin   No Data
29                                Aharis   No Data
30                         Budi Sumantri   No Data
31                      Djoko Suprihatin   No Data
32                        Ansyari Tawulo   No Data
33                            Isran Jaya   No Data
34                            Erman Jaya   No Data

In [410]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Konawe Selatan.csv", index=False)

### Kabupaten Konawe Utara

In [411]:
url = "https://www.karyasultra.id/20-anggota-dprd-konut-dilantik-september/"
soup = get_url(url)

In [431]:
list_nama = [x.text.split("\n") for x in soup.find("div", {"class":"td-post-content"}).find_all("p")[7:]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("\n") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [j.split("/")[0].replace("– ","") for j in list_nama if "/" in j]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                nama   alamat
0       Rasmin Kamil  No Data
1   Sangia Sahruddin  No Data
2         Mitra Tien  No Data
3      Sapiudin Alwi  No Data
4        Abdul Malik  No Data
5      Sawi Lapalulu  No Data
6   I Made Tarubuana  No Data
7            Mubarak  No Data
8              Samir  No Data
9      Herman Sewani  No Data
10        Hendriawan  No Data
11            Safrin  No Data
12            Sudiro  No Data
13    Indra Supriadi  No Data
14             Ikbar  No Data
15           Hamiria  No Data
16  Iskandar Z Mekuo  No Data
17             Rizal  No Data
18   Hendrik Johanis  No Data
19           Mawarny  No Data

In [432]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Konawe Utara.csv", index=False)

### Kabupaten Muna

In [463]:
url = "https://inilahsultra.com/2019/10/16/30-anggota-dprd-muna-resmi-dilantik-berikrar-bekerja-untuk-rakyat/"
soup = get_url(url)
list_nama = [x.text.split("(")[0].split(". ")[1] for x in soup.find_all("p")[11:-4][0] if "(" in x]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0    La Ode Gerson Kadaka   No Data
1   La Ode Ismail Munajad   No Data
2          Aswarhadi Dulu   No Data
3    Hj Agustini Muhaimin   No Data
4           Zahril Baitul   No Data
5                  Cahwan   No Data
6   Moh Iksanuddin Makmun   No Data
7             La Usa Mele   No Data
8               Wa Nurnia   No Data
9              La Saemuna   No Data
10              Muh Alang   No Data
11        La Ode Iskandar   No Data
12             La Harmini   No Data
13            La Ode Ando   No Data
14    Muhammad Natsir Ido   No Data
15                 Murida   No Data
16         La Ode Syahlan   No Data
17      Awal Jaya Bolombo   No Data
18              La Sarima   No Data
19                  Anwar   No Data
20          La Ode Diyrun   No Data
21                Suhidin   No Data
22            Risna Djuli   No Data
23         Sarif Ramadhan   No Data
24    Muhammad Ilham Tang   No Data
25             Andi Sapri   No Data
26         La Ode Sumiadi   No Data
27                 Tarimi   No Data
28                  Irwan   No Data
29                 Syukri   No Data

In [464]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Muna.csv", index=False)

### Kabupaten Muna Barat

In [465]:
url = "https://koransultra.com/2019/10/16/20-anggota-dprd-mubar-periode-2019-2024-dilantik/"
soup = get_url(url)
list_nama = [x.text.split(":")[1].split(")") for x in soup.find_all("p")[9:12]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("(")[0].replace(" dan ","") for x in list_nama if "(" in x]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                              nama   alamat
0     Wa Ode Sitti Sariani Illahi   No Data
1     , Ali Badin Fiihi, SP.,M.Si   No Data
2            . La Ode Sariba, SP.   No Data
3           , Agung Darma, S.Kep.   No Data
4                  , La Ode Talib   No Data
5                          Rahman   No Data
6                  Musliadi, S.Pd   No Data
7              , Nur Aisyah, A.Md   No Data
8                   , Supu Alimin   No Data
9                 , Baitul Makmur   No Data
10                     , La Kudja   No Data
11                  , La Ode Amin   No Data
12                La Ode Rafiudin   No Data
13                  Munarti, S.Pd   No Data
14                  , Anton Saiye   No Data
15  , Siiti Aisah Maliawati, S.Ag   No Data
16     , Drs. H. Samad A. Syamsur   No Data
17          , Made Wastawa, S.Sos   No Data
18             , Uking Djasa, SH.   No Data
19             serta Nawaji, S.Ag   No Data

In [466]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Muna Barat.csv", index=False)

### Kabupaten Wakatobi

In [497]:
url = "https://bumisultra.com/news/read/3128-25-anggota-dprd-wakatobi-terpilih-dilantik-arhawi-ucapkan-selamat"
soup = get_url(url)
list_nama = [str(x).split("br") for x in soup.find_all("p", {"style":"text-align: justify;"})[11:]]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [j for j in list_nama if "/>" in j][2:]
list_nama = [" ".join(x.split(".")[1:]) if len(x.split("."))>=2 else x.split(".")[1] for x in list_nama]
list_nama = [x.split("<")[0] for x in list_nama]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                               nama   alamat
0                   H Hamiruddin,SE  No Data
1                   Sukardi,SE MSi   No Data
2                  Arman Alini,S Pi  No Data
3                  Hj Siti Harniati  No Data
4                     Hj Setiawati   No Data
5                           Badalan  No Data
6                Dra Hj Safia Wualo  No Data
7                   Muh Ali,SP M Si  No Data
8            Haeruddin Buton,S So I  No Data
9                       Irman S Par  No Data
10                       Syaharudin  No Data
11                           Mayana  No Data
12                        Wd Rusmin  No Data
13  H La Ode Arifuddin Rasidi,S Sos  No Data
14                   Sulaeman Akbar  No Data
15                     Ld Nasrullah  No Data
16                       Jamaluddin  No Data
17                  Mahaluddin,S Pd  No Data
18              Hj Suciati Abdullah  No Data
19                   Hj  Wa Ode Fiy  No Data
20           Muh Ikbal,S Kep ,M Kes  No Data
21            Muh Syahril,SS M Pd I  No Data
22                        H Sukiman  No Data
23                Hj Erniaty Rasyid  No Data
24             Haeruddin Daud,S Sos  No Data

In [498]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Wakatobi.csv", index=False)

### Kota Bau-Bau

In [499]:
url = "https://mediakendari.com/kpu-baubau-tetapkan-25-anggota-dprd-terpilih-berikut-daftarnya/52226/"
soup = get_url(url)
list_nama = [x.find_all("li") for x in soup.find_all("ol")]
list_nama = [x.text.split("(")[0] for sub in list_nama for x in sub]
list_nama

['H. Zahari ',
 'H. Kamil Adi Karim ',
 'Nasiru ',
 'Asaad Adi Karim ',
 'Hj Siti Suhura ',
 'Noor Gemilang Sirajda ',
 'La Madi ',
 'Muh Ahdiyat Zamani ',
 'Ld. Abdul Tamim ',
 'Ardin Jufri ',
 'Fetto Daud ',
 'La Ode Sahrun ',
 'Roslina Rahim ',
 'H Rusdin ',
 'Nur Aksa ',
 'Acep Sulfan ',
 'Haryono Hafied ',
 'Rosni ',
 'Farida Gimaruddin ',
 'Baniu ',
 'La Ode Hadia ',
 'Muh Yumardin Haeruddin ',
 'H. Masri ',
 'Alianti ',
 'La Ode Yasin ']

In [500]:
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                       nama   alamat
0                H. Zahari   No Data
1       H. Kamil Adi Karim   No Data
2                   Nasiru   No Data
3          Asaad Adi Karim   No Data
4           Hj Siti Suhura   No Data
5    Noor Gemilang Sirajda   No Data
6                  La Madi   No Data
7       Muh Ahdiyat Zamani   No Data
8          Ld. Abdul Tamim   No Data
9              Ardin Jufri   No Data
10              Fetto Daud   No Data
11           La Ode Sahrun   No Data
12           Roslina Rahim   No Data
13                H Rusdin   No Data
14                Nur Aksa   No Data
15             Acep Sulfan   No Data
16          Haryono Hafied   No Data
17                   Rosni   No Data
18       Farida Gimaruddin   No Data
19                   Baniu   No Data
20            La Ode Hadia   No Data
21  Muh Yumardin Haeruddin   No Data
22                H. Masri   No Data
23                 Alianti   No Data
24            La Ode Yasin   No Data

In [501]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Baubau.csv", index=False)

### Kota Kendari

In [504]:
url = "https://www.kendarikota.go.id/berita/sah-ini-35-anggota-dprd-kota-kendari-periode-2019-2024/"
soup = get_url(url)
list_nama = [x.find_all("li") for x in soup.find_all("ol")]
list_nama = [j.text for sub in list_nama for j in sub]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0                  Aman Labelo   No Data
1            Fitri Yanti Rifai   No Data
2                      La Yuli   No Data
3              Djabar Al Jufri   No Data
4             Rostina Tarimana   No Data
5         Rizki Brilian Pagala   No Data
6                      Subhan    No Data
7                   Sahabuddin   No Data
8                  Laode Ashar   No Data
9          Rusiahwati Abunawas   No Data
10            L. M Rajab Jinik   No Data
11           Laode Muh. Inarto   No Data
12       Apriliani Puspitawati   No Data
13               Andi Silolipu   No Data
14                Laode Lawama   No Data
15    Hetty Purnawati Saranani   No Data
16   Sulistiawati Anwar Minton   No Data
17              Wartono Pianus   No Data
18            M. Syaiful Usman   No Data
19                 Irwan Sukma   No Data
20           Anita Dahlan Moga   No Data
21             Samsuddin Rahim   No Data
22              Husain Machmud   No Data
23                   Amiruddin   No Data
24           La Ode Ali Akbar    No Data
25               Simon Mantong   No Data
26  Andi Sitti Rofikah Hidayat   No Data
27              Fadli Bafadhal   No Data
28                 Abdul Rasak   No Data
29                       Arwin   No Data
30                     Hasbulan  No Data
31                 Hamida Sudu   No Data
32                    Novianna   No Data
33                Ilham\nHamra   No Data
34               Rahman Tawulo   No Data

In [505]:
df.to_csv("./DPRD TK II/Sulawesi Tenggara/Kendari.csv", index=False)

# Sulawesi Tengah

### Kabupaten Banggai

In [26]:
url = "https://www.obormotindok.co.id/35-anggota-dprd-banggai-hasil-pileg-2019-dilantik/"
soup = get_url(url)
list_nama = [x.text for x in soup.find("div", {"class":"content-inner"}).find_all("p")][4:]
list_nama = [x.split("berikut : ")[-1].split(",") for x in list_nama]
list_nama = [j for sub in list_nama for j in sub]
list_remove = [5,11,35]
for x in list_remove:
    del list_nama[x]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                     nama   alamat
0          Bahtiar Pasman  No Data
1      H.Syafrudin Husain  No Data
2       Masnawati Mohamad  No Data
3            Winacy Ndobe  No Data
4             Muhtar Dari  No Data
5           Ir.Naim Saleh  No Data
6           Kartini Akbar  No Data
7            Toto Raharjo  No Data
8          Hanira Lasantu  No Data
9               Siti Aria  No Data
10                Zaenuri  No Data
11       Sri Rosdiana Tia  No Data
12            I Putu Gumi  No Data
13                Sucipto  No Data
14             Suprapto N  No Data
15         Hi. Fuad Muid.  No Data
16       Samsulbahri Mang  No Data
17          Irwanto Kulab  No Data
18          Sudan Latjeno  No Data
19         Yolanda Antuke  No Data
20       Sarifudin Tjatjo  No Data
21   Batia Sisilia Hadjar  No Data
22        Sukri Djalumang  No Data
23         Sientje Nayoan  No Data
24            Yeni Lianto  No Data
25       Helton Abd Hamid  No Data
26                Suparno  No Data
27           Samiul L Agi  No Data
28           Nasir Himran  No Data
29               Mursidin  No Data
30        Hasman L Balubi  No Data
31           Jodi Prakoso  No Data
32         Ibrahim Darise  No Data
33               Hi.Akmal  No Data
34         Suharto Yinata  No Data

In [27]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Banggai.csv", index=False)

### Kabupaten Banggai Kepulauan

### Kabupaten Banggai Laut

### Kabupaten Buol

In [28]:
url = "https://gosulbar.com/anggota-dprd-kabupaten-buol-2019-2024/"
soup = get_url(url)

ConnectionError: HTTPSConnectionPool(host='gosulbar.com', port=443): Max retries exceeded with url: /anggota-dprd-kabupaten-buol-2019-2024/ (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0D1BC4A8>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))

### Kabupaten Donggala

In [ ]:
url = "https://gosulbar.com/anggota-dprd-kabupaten-donggala-2019-2024/"

### Kabupaten Morowali

In [34]:
url = "https://morowalikab.go.id/home/read/dprd-kab-morowali-gelar-paripurna-pengambilan-sumpah-dan-peresmian-anggota-dprd-masa-jabatan-2019-2024"
soup = get_url(url)
list_nama = [x.text.lower().split("dari")[0] for x in soup.find("ol").find_all("li")]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                   nama   alamat
0             kuswandi   No Data
1            asgar ali   No Data
2          irene ilyas   No Data
3         agus wiratno   No Data
4         ahmad efendi   No Data
5     syarifudin hafid   No Data
6            syahrudin   No Data
7             sumardin   No Data
8      subhan matorang   No Data
9    aminudin awaludin   No Data
10         gafar hilal   No Data
11               asgar   No Data
12              serlan   No Data
13                rauf   No Data
14      daeng pasolong   No Data
15              herlan   No Data
16            abd muin   No Data
17   herdianto marzuki   No Data
18             hasnain   No Data
19        putra bonewa   No Data
20              lukman   No Data
21           muh asrar   No Data
22    ihwan muh thoyib   No Data
23        h.aksa ishak   No Data
24  puspa bayu nugraha   No Data

In [35]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Morowali.csv", index=False)

### Kabupaten Morowali Utara

In [48]:
url = "https://www.metrosulteng.com/ini-komposisi-25-caleg-morowali-utara-terpilih/"
soup = get_url(url)
list_nama = [x.text.split("\n") for x in soup.find_all("p")[5:8]]
list_nama = [j.split(" – ")[0].split(". ")[1] for sub in list_nama for j in sub[1:]]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                     nama   alamat
0            Vany Tampake  No Data
1           Idham Ibarhim  No Data
2           Jeffisa Putra  No Data
3              Usman Ukas  No Data
4         Ismail Zulfikar  No Data
5      Syahruddin Mustafa  No Data
6         Yaristan Palesa  No Data
7             Yanto Baoli  No Data
8           Wahyu Hidayat  No Data
9         Warda Dg Mamala  No Data
10              Moh Sapri  No Data
11                 Abudin  No Data
12            Ikhtiarsyah  No Data
13                  Helen  No Data
14                  Asral  No Data
15          Andri Sondeng  No Data
16  Hj Megawati Ambo Assa  No Data
17   Gina Silvia Togalami  No Data
18      Mukhlis Dg Mamala  No Data
19    Indrawati Balirante  No Data
20          Alidin Hadade  No Data
21      Jhon Felix Pehopu  No Data
22                 Abidin  No Data
23            Leli Maliso  No Data
24       Epafras Sambongi  No Data

In [49]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Morowali Utara.csv", index=False)

### Kabupaten Parigi Moutong

In [62]:
url = "https://sultengterkini.id/2019/09/03/berikut-40-anggota-dprd-parimo-yang-baru-dilantik/"
soup = get_url(url)
list_nama = [x.text.split(",") for x in soup.find_all("p")[6:10]]
list_nama = [j.split("adalah ")[-1] for sub in list_nama for j in sub]
list_nama = [j.split("(")[0].replace("\xa0","") for j in list_nama if "(" in j]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                            nama   alamat
0              Sayutin Budianto   No Data
1                        Faisan   No Data
2                  Muh Solikhin   No Data
3                 Sukiman Tahir   No Data
4               Hijrah Tjanabah   No Data
5                         Wardi   No Data
6               Ahmad Dg Mabela   No Data
7                        Suyadi   No Data
8              Arifin Dg Palalo   No Data
9               I Ketut Mardika   No Data
10              Sugeng Salilama   No Data
11         Nurul Qirram S Talib   No Data
12                    Mastullah   No Data
13            Alfrets Tonggiroh   No Data
14                        Erwin   No Data
15                        Yusup   No Data
16        Ni Wayan Leli Pariani   No Data
17               Enggar Prayogo   No Data
18              Ferri Budiutomo   No Data
19                       Sutoyo   No Data
20                   Umi Kalsum   No Data
21                        Zabur   No Data
22                    Moh Fadli   No Data
23                  Abdun Hanau   No Data
24              Paulus Pasodung   No Data
25                Wayan Murtama   No Data
26               I Ketut Arsana   No Data
27                       Masrin   No Data
28                 Saiful Bahri   No Data
29                      Moh Zen   No Data
30                  Hemut Paudi   No Data
31                       Suardi   No Data
32                        Rusno   No Data
33                     Moh Zain   No Data
34                       Yandra   No Data
35                 Sartin Dauda   No Data
36   I Putu Eddy Tangkas Wijaya   No Data
37               Wawan Setiawan   No Data
38                      Nurasia   No Data
39       Amelia Santrial Rahman   No Data

In [63]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Parigi Moutong.csv", index=False)

### Kabupaten Poso

In [98]:
url = "https://kumparan.com/paluposo/kpu-poso-tetapkan-anggota-dprd-terpilih-berikut-rinciannya-1rdvWaz1LiV/full"
soup = get_url(url)
list_nama = [x.text.lower() for x in soup.find("div", {"class":"StoryRenderer__EditorWrapper-th08cs-0 ZDWZV"}).find_all("span")][11:]
list_nama = list(set([x for x in list_nama if "calon terpilih" in x]))
list_nama = [x.split("calon terpilih")[1] for x in list_nama]
list_nama = [x.split("dan") for x in list_nama]
list_nama = [j.replace("yaitu,","") for sub in list_nama for j in sub]
list_nama = [x.split("yakni")[-1] for x in list_nama]
list_nama = [j.replace(":","") for j in list_nama]
list_nama = [j.replace(", ","") for j in list_nama]
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                   nama   alamat
0                      iskandar lamuka.  No Data
1                    sony liston kapito  No Data
2                         johanis bando  No Data
3                        jemmy tobanta.  No Data
4                    hidayat bungasawa.  No Data
5                        alwin nakamba.  No Data
6               abram dharma badilos.pt  No Data
7                       romi s. alimin.  No Data
8                       heles y. kapuy.  No Data
9      sesi kristina dharmawati mapeda   No Data
10                       herlina lawodi  No Data
11                drs. fredrik torunde   No Data
12                      adrianis towesu  No Data
13         martosan asman o. sabintoe,l  No Data
14                     darmawan lyanto   No Data
15                      suharto kandar.  No Data
16                   h. usman abd karim  No Data
17                         darma tongku  No Data
18                 yenny flora tampa'i   No Data
19                        semuel munda.  No Data
20                  rofiqoh is machmoed  No Data
21                darma gideon mondolu.  No Data
22                    muhamad yusufs.si  No Data
23                        i made kajeng  No Data
24                      mercy lin hande  No Data
25                            ma'mur l   No Data
26    agustin lauren natingale sigilipu  No Data
27                    baharuddin sapi'i  No Data
28              dr. pdt. coni modjanggo  No Data
29                    sahir t. sampeali  No Data

In [99]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Poso.csv", index=False)

### Kabupaten Sigi

In [139]:
url = "https://sigikab.go.id/index.php/pemerintahan/dprd.html"
soup = get_url(url)
list_table = soup.find_all("table")
len(list_table)

2

In [140]:
list_nama = []
get_table1 = [x.text for x in list_table[0].find_all("span")][3:]
for idx in range(2,len(get_table1),3):
    list_nama.append(get_table1[idx])

In [142]:
# get_table2.remove('KOMISI II DPRD')
# get_table2.remove('KOMISI III DPRD')
get_table2

['KOMISI I DPRD',
 '1',
 'IMRAN',
 'KETUA KOMISI',
 '2',
 'HIKMAH LADJIDJI',
 'WAKIL KETUA',
 '3',
 'H. AZHAR H. NONTJI, SE',
 'SEKRETARIS',
 '4',
 'HAZIZAH',
 'ANGGOTA',
 '5',
 'JAMALUDDIN L. NUSU, SE',
 'ANGGOTA',
 '6',
 'SUMI, A.Md',
 'ANGGOTA',
 '7',
 'MAKLON, S.Pd, M.Si',
 'ANGGOTA',
 '8',
 'ANAS, LC. M.Hi',
 'ANGGOTA',
 '9',
 'YAKUB NTANGO, S.Pd',
 'ANGGOTA',
 '1',
 'AJUB WILLEM DARAWIA, ST, MT',
 'KETUA KOMISI',
 '2',
 'ILHAM, S. Hut',
 'WAKIL KETUA',
 '3',
 'EBEN, S.Pd',
 'SEKRETARIS',
 '4',
 'REYNALD B.E TARRO, Sm. Hk',
 'ANGGOTA',
 '5',
 'ABDUL RAZAK, SH, MH',
 'ANGGOTA',
 '6',
 'ABDUL RAHMAN',
 'ANGGOTA',
 '7',
 'DAHYAR, S. Sos',
 'ANGGOTA',
 '8',
 'SVEN DENIS HAROLD SIMON LOMPE, SP',
 'ANGGOTA',
 '9',
 'HERMAN LATABE, SH',
 'ANGGOTA',
 '1',
 'ALLOBUA RANGAN, S. Sos',
 'KETUA KOMISI',
 '2',
 'MOHAMAD UMAR',
 'WAKIL KETUA\xa0',
 '3',
 'IKRA, SP',
 'SEKRETARIS',
 '4',
 'SUMARDI, S.Ag',
 'ANGGOTA',
 '5',
 'HJ. SUMARNI MOH.TALA',
 'ANGGOTA',
 '6',
 'ENDANG HERDIANTI',
 'ANGGOTA',
 '7',
 'RUSLAN, S.Sos',
 'ANGGOTA',
 '8',
 'Hi. DARWIS SAING, SE',
 'ANGGOTA',
 '9',
 'ABDUL RIFAI ARIF, S.Pt',
 'ANGGOTA']

In [145]:
# get_table2 = [x.text for x in list_table[1].find_all("span")]
for idx in range(2,len(get_table2),3):
#     print("******", idx)
    list_nama.append(get_table2[idx])

In [146]:
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                     nama   alamat
0   MUHAMMAD  RIZAL INTJENAE, S.Sos.,M.Si  No Data
1                     RAHMAT SALEH, S.Hut  No Data
2                     TORKI IBRAHIM TURRA  No Data
3                                   IMRAN  No Data
4                         HIKMAH LADJIDJI  No Data
5                  H. AZHAR H. NONTJI, SE  No Data
6                                 HAZIZAH  No Data
7                  JAMALUDDIN L. NUSU, SE  No Data
8                              SUMI, A.Md  No Data
9                      MAKLON, S.Pd, M.Si  No Data
10                         ANAS, LC. M.Hi  No Data
11                     YAKUB NTANGO, S.Pd  No Data
12            AJUB WILLEM DARAWIA, ST, MT  No Data
13                          ILHAM, S. Hut  No Data
14                             EBEN, S.Pd  No Data
15              REYNALD B.E TARRO, Sm. Hk  No Data
16                    ABDUL RAZAK, SH, MH  No Data
17                           ABDUL RAHMAN  No Data
18                         DAHYAR, S. Sos  No Data
19      SVEN DENIS HAROLD SIMON LOMPE, SP  No Data
20                      HERMAN LATABE, SH  No Data
21                 ALLOBUA RANGAN, S. Sos  No Data
22                           MOHAMAD UMAR  No Data
23                               IKRA, SP  No Data
24                          SUMARDI, S.Ag  No Data
25                   HJ. SUMARNI MOH.TALA  No Data
26                       ENDANG HERDIANTI  No Data
27                          RUSLAN, S.Sos  No Data
28                   Hi. DARWIS SAING, SE  No Data
29                 ABDUL RIFAI ARIF, S.Pt  No Data

In [147]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Sigi.csv", index=False)

### Kabupaten Tojo Una-Una

In [176]:
url = "https://sultengraya.com/read/78795/inilah-25-daftar-nama-caleg-terpilih-di-dprd-touna/"
soup = get_url(url)

In [177]:
dapil1 = [x.text.split("\n") for x in soup.find_all("p")][12:13]
dapil1 = [" ".join(j.split(".")[1:]) if len(j.split(".")) >=2 else j.split(".") for sub in dapil1 for j in sub][1:]
dapil1 = [x.split("(")[0].replace("\xa0", "") for x in dapil1]
dapil1

[' Mahmud Lahay, SE, M Si ',
 ' Abdan Lasawedi, SE ',
 ' Gusnar A  Suleman, SE,MM ',
 ' Samsu Hi Yunus ',
 ' Husen M Abubakar ,ST',
 ' Samsari Pay, S Kom I ',
 ' Rahmatia M Zakaria, S Pd ',
 'Zainal Muluk Lapangandong ',
 ' Husen Abubakar, SE ',
 'Basrin Mohamad, SE  M Si ',
 'Jamal Juraedjo, S Sos, M Si ',
 ' Saiful Wahid ']

In [178]:
list_nama = [y.text.split("\n") for x in soup.find_all("ol") for y in x.find_all("li")]
list_nama = [j for sub in list_nama for j in sub]
list_nama = [x.split("(")[0] for x in list_nama]
list_nama = [x.split("\xa0")[-1] for x in list_nama][:-1]
list_nama = [x.replace("4. ", "") for x in list_nama]
list_nama.extend(dapil1)

In [179]:
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                            nama   alamat
0                 Jafar M. Amin   No Data
1              Ilham Lawidu, SH   No Data
2            Iskandar H. Kamaru   No Data
3                Yustam Madilau   No Data
4                Sardin D.Harun   No Data
5                     Husain,SE   No Data
6           Junaid Lahay, S.Sos   No Data
7                Ismail Labatjo   No Data
8            Andri Purwanto, ST   No Data
9             Makmur A. Mudaiya   No Data
10       Moh. Salim Makaruru,SS   No Data
11            Drs. Ferdison, MM   No Data
12   Asrun Taurenta, S.Ag, M.AP   No Data
13       Mahmud Lahay, SE, M Si   No Data
14           Abdan Lasawedi, SE   No Data
15     Gusnar A  Suleman, SE,MM   No Data
16               Samsu Hi Yunus   No Data
17          Husen M Abubakar ,ST  No Data
18         Samsari Pay, S Kom I   No Data
19     Rahmatia M Zakaria, S Pd   No Data
20    Zainal Muluk Lapangandong   No Data
21           Husen Abubakar, SE   No Data
22     Basrin Mohamad, SE  M Si   No Data
23  Jamal Juraedjo, S Sos, M Si   No Data
24                 Saiful Wahid   No Data

In [180]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Tojo Una Una.csv", index=False)

### Kabupaten Toli-Toli

In [205]:
url = "https://www.sultengterkini.com/2019/09/06/30-anggota-dprd-tolitoli-periode-2019-2024-resmi-dilantik/"
soup = get_url(url)
list_nama = [x.text.split("\n") for x in soup.find_all("p")[7:-3]]
list_nama = [j.split(",") for sub in list_nama for j in sub]
list_nama = [j.split("adalah") for sub in list_nama for j in sub]
list_nama = [j.split("dan") for sub in list_nama for j in sub]
list_nama = [j.split("Kemudian") for sub in list_nama for j in sub]
list_nama = [j.split("selanjutnya") for sub in list_nama for j in sub]
list_nama = [j for sub in list_nama for j in sub][1:]
list_nama = [x.split("(")[0] for x in list_nama]
list_nama = [x.replace("Selanjutnya", "").lstrip() for x in list_nama]
list_nama = list(filter(None, list_nama))
df = pd.DataFrame.from_dict({"nama":list_nama})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                       nama   alamat
0         Andi Ahmad Syarif  No Data
1               Arna H Ardi  No Data
2          Darwis Magangka   No Data
3                Jemi Yusuf  No Data
4                   Jumarni  No Data
5                    Ahmadi  No Data
6                  Risman.’  No Data
7              Azis Bestari  No Data
8                  Muslimin  No Data
9          I Nyoman Muliada  No Data
10               Moh Fahmi   No Data
11                    Iswan  No Data
12              Jumsar Juni  No Data
13                Asrullah   No Data
14           Asmaul H Tawil  No Data
15        Moh Randi Saputra  No Data
16                Moh Saleh  No Data
17       Nurdin Nadjamudin   No Data
18             Moh Mubarak   No Data
19    Eflin Flora Tambuwun   No Data
20                Moh Adam   No Data
21  Moh Nurmansyah Bantilan  No Data
22                 Moh Rais  No Data
23                Irmawati   No Data
24      Sriyanti Dg Parebba  No Data
25                    Erwin  No Data
26           Moh Saleh Kani  No Data
27           Amran H Yahya   No Data
28        serta Suci Amika   No Data
29        Pulung Kardianto   No Data

In [206]:
df.to_csv("./DPRD TK II/Sulawesi Tengah/Tolitoli.csv", index=False)

### Kota Palu